openapi: 3.2.0
info:
  title: Use Cases > InMail Content API
  description: 'Please note that these are versioned set of APIs and they are different than the earlier one.


    These must be used with the **content-api-env-versioning** environment.


    Content APIs are the APIs that are published with the versioned release. These APIs bring capabilities to partners/developers to create rich content via LinkedIn Ads with minimal operational and technical overhead.


    **You must apply for access to the Marketing Developer Platform in order to use these APIs. See the** [**Developer Portal**](https://developer.linkedin.com/product-catalog/marketing/campaign-management) **on how to apply.**'
  version: 1.0.0
servers:
- url: https://api.linkedin.com
  description: LinkedIn Marketing API Production Server
security:
- oauth2Auth: []
tags:
- name: Use Cases > InMail Content
  description: You can set up the message contents sent to targeted LinkedIn members' inbox, either as a Message Ad or a Conversation Ad.
paths:
  /rest/inMailContents/:
    post:
      tags:
      - Use Cases > InMail Content
      summary: LinkedIn Create InMail Content
      description: API to create an inMail Content.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateInmailContentRequest'
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: '{{insert_token}}'
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: X-Restli-Protocol-Version
        in: header
        schema:
          type: string
        example: 2.0.0
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postCreateInmailContent
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /rest/inMailContents/{adInMailContentId}:
    get:
      tags:
      - Use Cases > InMail Content
      summary: LinkedIn Get InMail Content
      description: API to retrieve an inMail Content.
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: '{{insert_token}}'
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: X-Restli-Protocol-Version
        in: header
        schema:
          type: string
        example: 2.0.0
      - name: adInMailContentId
        in: path
        schema:
          type: string
        required: true
        example: '123456'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getGetInmailContent
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
    post:
      tags:
      - Use Cases > InMail Content
      summary: LinkedIn Update InMail Content
      description: API to update an inMail Content.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateInmailContentRequest'
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: '{{insert_token}}'
      - name: X-Restli-Protocol-Version
        in: header
        schema:
          type: string
        example: 2.0.0
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: adInMailContentId
        in: path
        schema:
          type: string
        required: true
        example: '123456'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postUpdateInmailContent
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /rest/inMailContents:
    get:
      tags:
      - Use Cases > InMail Content
      summary: LinkedIn Batch Get InMail Content
      description: API to retrieve an inMail Content in Batches.
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: Authorization
        in: header
        schema:
          type: string
        example: '{{insert_token}}'
      - name: X-RestLi-Method
        in: header
        schema:
          type: string
        example: BATCH_CREATE
      - name: X-Restli-Protocol-Version
        in: header
        schema:
          type: string
        example: 2.0.0
      - name: ids
        in: query
        schema:
          type: string
        example: '{encoded adInMailContentId}'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getBatchGetInmailContent
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
    post:
      tags:
      - Use Cases > InMail Content
      summary: LinkedIn Send Test InMail
      description: API to send/share an inMail Content.
      requestBody:
        content: {}
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: '{{insert_token}}'
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: X-Restli-Protocol-Version
        in: header
        schema:
          type: string
        example: 2.0.0
      - name: action
        in: query
        schema:
          type: string
        example: sendTestInMail
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postSendTestInmail
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
components:
  schemas:
    CreateInmailContentRequest:
      type: string
      example: '"{\n \"account\": \"<Account Number>\",\n \"name\": \"test strings\",\n \"subject\": \"test subject\",\n \"sender\": \"<person urn>\",\n \"customFooter\": \"terms and conditions\",\n \"htmlBody\":\"sample body\",\n \"subContent\": {\n   \"regular\": {\n     \"callToActionText\": \"sample string\",\n     \"callToActionLandingPageUrl\":\"http://www.linkedin.com\",\n     \"rightRailAdPicture\": \"<image urn>\"\n   }\n }\n}"'
    UpdateInmailContentRequest:
      type: string
      example: '"{\n \"patch\": {\n   \"$set\": {\n     \"name\": \"test strings new\"\n   }\n }\n}\n"'
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
