openapi: 3.2.0
info:
  title: LinkedIn Marketing Campaign Management Audience Counts API
  description: 'Campaign Manager is LinkedIn''s online tool for creating and managing ad accounts and campaigns. This API provides capabilities for account management, campaign group management, campaign management, creative management, ad targeting, and forecasting.

    You must apply for access to the Marketing Developer Platform to use these APIs.'
  version: 1.0.0
  contact:
    name: LinkedIn Marketing API Support
    url: https://developer.linkedin.com/product-catalog/marketing/campaign-management
servers:
- url: https://api.linkedin.com/rest
  description: LinkedIn REST API Server
security:
- OAuth2Auth:
  - rw_ads
tags:
- name: Audience Counts
  description: APIs to retrieve audience counts based on targeting criteria
paths:
  /audienceCounts:
    get:
      tags:
      - Audience Counts
      summary: LinkedIn Get Audience Count by Targeting Criteria
      description: Get the number of member accounts that fit your targeting criteria. Minimum audience size of 300 is required to run a campaign.
      operationId: getAudienceCount
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: Bearer YOUR_ACCESS_TOKEN
      - name: LinkedIn-Version
        in: header
        required: true
        schema:
          type: string
        example: '202401'
      - name: q
        in: query
        required: true
        schema:
          type: string
          enum:
          - targetingCriteriaV2
        example: targetingCriteriaV2
      - name: targetingCriteria
        in: query
        required: true
        schema:
          type: string
        description: URL-encoded targeting criteria
        example: (include:(and:List((or:({encoded facet_URN_1}:List({encoded facet_URN_1_value_1}))))))
      responses:
        '200':
          description: Successfully retrieved audience count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceCount'
              examples:
                SuccessResponse:
                  value:
                    total: 1500000
                    activeCount: 1200000
        '400':
          description: Bad request - invalid targeting criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        code:
          type: string
          example: INVALID_PARAMS
    AudienceCount:
      type: object
      properties:
        total:
          type: integer
          description: Total audience count
          example: 1500000
        activeCount:
          type: integer
          description: Active member count
          example: 1200000
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.linkedin.com/oauth/v2/authorization
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            rw_ads: Read and write advertising data
            r_ads: Read advertising data
