openapi: 3.1.0
info:
  title: LinkedIn Compliance Events Access Control Organizations API
  description: LinkedIn provides Compliance API Guides for monitoring, archiving, and management of communications for enterprises in regulated industries. The Compliance Events API allows applications to archive all LinkedIn activities from the past 30 days of a regulated, authenticated member.
  version: 1.0.0
  contact:
    name: LinkedIn API Support
    url: https://docs.microsoft.com/en-us/linkedin/compliance/
servers:
- url: https://api.linkedin.com
  description: LinkedIn Production API Server
security:
- OAuth2Auth:
  - r_compliance
tags:
- name: Organizations
  description: Organization profile data retrieval
paths:
  /rest/dmaOrganizations:
    get:
      operationId: batchGetOrganizations
      tags:
      - Organizations
      summary: LinkedIn Batch Get Organizations
      description: Retrieves multiple organization profiles in a single request for data portability compliance. Returns organization details including name, description, locations, and settings.
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - $ref: '#/components/parameters/LinkedInVersionHeader'
      - $ref: '#/components/parameters/RestliProtocolVersionHeader'
      - $ref: '#/components/parameters/IdsQuery'
      responses:
        '200':
          description: Successfully retrieved organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchOrganizationResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/BatchOrganizationResponseExample'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                BadRequestError:
                  $ref: '#/components/examples/ErrorResponseExample'
        '401':
          description: Unauthorized - invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /rest/dmaOrganizations/{organizationId}:
    get:
      operationId: getOrganization
      tags:
      - Organizations
      summary: LinkedIn Get Organization
      description: Retrieves a single organization profile by ID for data portability compliance. Returns comprehensive organization details including profile, settings, and metadata.
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - $ref: '#/components/parameters/LinkedInVersionHeader'
      - $ref: '#/components/parameters/RestliProtocolVersionHeader'
      - $ref: '#/components/parameters/OrganizationIdPath'
      responses:
        '200':
          description: Successfully retrieved organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/OrganizationResponseExample'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Locale:
      type: object
      properties:
        country:
          type: string
          example: US
        language:
          type: string
          example: en
    ImageAsset:
      type: object
      properties:
        downloadUrl:
          type: string
          format: uri
          example: https://media.licdn.com/dms/image/...
        downloadUrlExpiresAt:
          type: integer
          format: int64
          example: 1710979200000
        status:
          type: string
          enum:
          - AVAILABLE
          - PROCESSING
          - FAILED
          example: AVAILABLE
    ErrorDetail:
      type: object
      properties:
        code:
          type: string
          example: FORBIDDEN
        message:
          type: string
          example: Viewer doesn't have permission to access this resource
        status:
          type: integer
          example: 403
    OrganizationLocation:
      type: object
      properties:
        locationType:
          type: string
          enum:
          - HEADQUARTERS
          - OTHER
          example: HEADQUARTERS
        address:
          $ref: '#/components/schemas/Address'
        geoLocation:
          type: string
          example: urn:li:geo:101308755
        staffCountRange:
          type: string
          example: SIZE_1
        description:
          $ref: '#/components/schemas/LocalizedString'
    LocalizedString:
      type: object
      properties:
        localized:
          type: object
          additionalProperties:
            type: string
          example:
            en_US: Acme Corporation
        preferredLocale:
          $ref: '#/components/schemas/Locale'
    OrganizationResponse:
      type: object
      description: Organization profile data
      properties:
        id:
          type: integer
          format: int64
          description: Organization ID
          example: 10002687
        name:
          $ref: '#/components/schemas/LocalizedString'
        description:
          $ref: '#/components/schemas/LocalizedString'
        tagline:
          $ref: '#/components/schemas/LocalizedString'
        localizedName:
          type: string
          example: Acme Corporation
        localizedDescription:
          type: string
          example: Leading provider of innovative solutions
        localizedTagline:
          type: string
          example: Innovation at its best
        vanityName:
          type: string
          example: acme-corp
        organizationType:
          type: string
          enum:
          - PUBLIC_COMPANY
          - PRIVATELY_HELD
          - GOVERNMENT_AGENCY
          - NON_PROFIT
          - PARTNERSHIP
          example: PRIVATELY_HELD
        staffCountRange:
          type: string
          enum:
          - SIZE_1
          - SIZE_2_TO_10
          - SIZE_11_TO_50
          - SIZE_51_TO_200
          - SIZE_201_TO_500
          - SIZE_501_TO_1000
          - SIZE_1001_TO_5000
          - SIZE_5001_TO_10000
          - SIZE_10001_OR_MORE
          example: SIZE_201_TO_500
        industriesV2:
          type: array
          items:
            type: string
          example:
          - urn:li:industry:33
        logoV2:
          $ref: '#/components/schemas/ImageReference'
        coverPhotoV2:
          $ref: '#/components/schemas/ImageReference'
        locations:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationLocation'
        foundedOn:
          $ref: '#/components/schemas/DateInfo'
        entityStatus:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          example: ACTIVE
        created:
          $ref: '#/components/schemas/Timestamp'
        lastModified:
          $ref: '#/components/schemas/Timestamp'
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        serviceErrorCode:
          type: integer
          example: 100
    ImageReference:
      type: object
      properties:
        cropped:
          $ref: '#/components/schemas/ImageAsset'
        original:
          $ref: '#/components/schemas/ImageAsset'
        cropInfo:
          type: object
          properties:
            x:
              type: integer
              example: 0
            y:
              type: integer
              example: 0
            width:
              type: integer
              example: 400
            height:
              type: integer
              example: 400
    DateInfo:
      type: object
      properties:
        year:
          type: integer
          example: 2001
        month:
          type: integer
          example: 1
        day:
          type: integer
          example: 15
    BatchOrganizationResponse:
      type: object
      properties:
        results:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/OrganizationResponse'
        statuses:
          type: object
          additionalProperties:
            type: integer
        errors:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ErrorDetail'
    Address:
      type: object
      properties:
        line1:
          type: string
          example: 123 Main Street
        city:
          type: string
          example: San Francisco
        geographicArea:
          type: string
          example: California
        postalCode:
          type: string
          example: '94102'
        country:
          type: string
          example: US
    Timestamp:
      type: object
      properties:
        time:
          type: integer
          format: int64
          example: 1702693664000
  parameters:
    IdsQuery:
      name: ids
      in: query
      required: true
      description: List of entity IDs to retrieve
      schema:
        type: string
      example: List(10002687,10002688)
    OrganizationIdPath:
      name: organizationId
      in: path
      required: true
      description: Organization identifier
      schema:
        type: string
      example: '10002687'
    RestliProtocolVersionHeader:
      name: X-Restli-Protocol-Version
      in: header
      required: true
      description: Rest.li protocol version
      schema:
        type: string
      example: 2.0.0
    LinkedInVersionHeader:
      name: LinkedIn-Version
      in: header
      required: true
      description: LinkedIn API version in YYYYMM format
      schema:
        type: string
      example: '202312'
  examples:
    ErrorResponseExample:
      summary: Error response
      value:
        status: 400
        message: Invalid request parameters
        serviceErrorCode: 100
    BatchOrganizationResponseExample:
      summary: Batch organization response
      value:
        results:
          '10002687':
            id: 10002687
            localizedName: Acme Corporation
            entityStatus: ACTIVE
        statuses:
          '10002687': 200
        errors: {}
    OrganizationResponseExample:
      summary: Organization profile response
      value:
        id: 10002687
        localizedName: Acme Corporation
        localizedDescription: Leading provider of innovative solutions
        localizedTagline: Innovation at its best
        vanityName: acme-corp
        organizationType: PRIVATELY_HELD
        staffCountRange: SIZE_201_TO_500
        industriesV2:
        - urn:li:industry:33
        entityStatus: ACTIVE
        locations:
        - locationType: HEADQUARTERS
          address:
            line1: 123 Main Street
            city: San Francisco
            geographicArea: California
            postalCode: '94102'
            country: US
        created:
          time: 1518028624160
        lastModified:
          time: 1702644474447
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.linkedin.com/oauth/v2/authorization
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            r_compliance: Read compliance data
