openapi: 3.2.0
info:
  title: LinkedIn Job Posting Job Lifecycle Management API
  description: LinkedIn's Job Posting API enables authorized third parties such as clients, ATS systems, and Job Distributors to post jobs directly to LinkedIn on behalf of customers.
  version: 1.0.0
  contact:
    name: LinkedIn Talent Solutions
    url: https://business.linkedin.com/talent-solutions
servers:
- url: https://api.linkedin.com
  description: LinkedIn Production API Server
security:
- OAuth2Auth: []
tags:
- name: Job Lifecycle Management
  description: APIs for managing the lifecycle of job postings
paths:
  /v2/simpleJobPostingTasks:
    get:
      operationId: getJobPostingTaskStatus
      tags:
      - Job Lifecycle Management
      summary: LinkedIn Check Job Posting Task Status
      description: 'Retrieves the status of a job posting task to track whether the job has been successfully created, updated, or closed.

        After successful completion, the response includes the `jobPostingUrn` which can be used to view the job at: `https://www.linkedin.com/jobs/view/{jobPostingId}`

        For more information, refer to the Check Job Task Status documentation.'
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - $ref: '#/components/parameters/TaskIdsQuery'
      responses:
        '200':
          description: Successfully retrieved task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPostingTaskResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/JobPostingTaskResponseExample'
        '400':
          description: Bad request - invalid task URN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    JobPostingTaskResponse:
      type: object
      description: Response for job posting task status
      properties:
        results:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/JobPostingTaskResult'
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        serviceErrorCode:
          type: integer
          example: 100
    JobPostingTaskResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - PENDING
          - SUCCEEDED
          - FAILED
          example: SUCCEEDED
        jobPostingUrn:
          type: string
          description: URN of the created job posting
          example: urn:li:jobPosting:2722131308
        errorMessage:
          type: string
          description: Error message if task failed
          example: example_value
  examples:
    JobPostingTaskResponseExample:
      summary: Example job posting task status response
      value:
        results:
          urn:li:simpleJobPostingTask:12345678:
            status: SUCCEEDED
            jobPostingUrn: urn:li:jobPosting:2722131308
  parameters:
    TaskIdsQuery:
      name: ids
      in: query
      required: true
      description: Task URN(s) to check status
      schema:
        type: string
      example: urn:li:simpleJobPostingTask:12345678
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer Token authentication
    OAuth2Auth:
      type: oauth2
      description: OAuth 2.0 authentication
      flows:
        clientCredentials:
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            w_organization_social: Write organization social content
