openapi: 3.2.0
info:
  title: Content Use Cases > Spotlight Ad API
  description: Please note that these are versioned set of APIs and they are different than the earlier one.
  version: 1.0.0
servers:
- url: https://api.linkedin.com
  description: LinkedIn Marketing API Production Server
security:
- oauth2Auth: []
tags:
- name: Use Cases > Spotlight Ad
  description: 'Spotlight Ads allow you to showcase your product, service, event, content, and more. Upon clicking your Ad, you navigate to the website or landing page of your choice. Learn more about Spotlight Ads.


    ##'
paths:
  /creatives:
    post:
      tags:
      - Use Cases > Spotlight Ad
      summary: LinkedIn Create a Dynamic Spotlight Ad
      description: 'Creates a Dynamic Spotlight Ad Creative.


        A successful response returns a `201 Created HTTP` status code and the ID in the `x-linkedin-id` response header. For example, `urn:li:sponsoredCreative:123456789`


        ##'
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateADynamicSpotlightRequest'
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postCreateADynamicSpotlight
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /creatives/{sponsoredCreative-urn}:
    get:
      tags:
      - Use Cases > Spotlight Ad
      summary: LinkedIn Get a Dynamic Spotlight Ad
      description: 'Retrives a Dynamic Spotlight Ad.


        #### Sample Response


        JSONCopy


        ```

        {

        "servingHoldReasons": [

        "UNDER_REVIEW",

        "CAMPAIGN_STOPPED"

        ],

        "lastModifiedAt": 1648512200000,

        "lastModifiedBy": "urn:li:member:123",

        "content": {

        "spotlight": {

        "organizationName": "LinkedIn Demo",

        "showMemberProfilePhoto": true,

        "landingPage": "http://linkedin.com",

        "description": "Check out this demo",

        "logo": "urn:li:image:abc",

        "headline": "Spotlight Ad Demo",

        "callToAction": "Join Us Now"

        }

        },

        "createdAt": 1648512200000,

        "createdBy": "urn:li:member:123",

        "isTest": false,

        "review": {

        "status": "PENDING"

        },

        "isServing": false,

        "campaign": "urn:li:sponsoredCampaign:123",

        "id": "urn:li:sponsoredCreative:123456789",

        "intendedStatus": "ACTIVE",

        "account": "urn:li:sponsoredAccount:123"

        }

        ```


        ##'
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: sponsoredCreative-urn
        in: path
        schema:
          type: string
        required: true
        example: urn:li:organization:123456
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getGetADynamicSpotlight
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
    post:
      tags:
      - Use Cases > Spotlight Ad
      summary: LinkedIn Update a Dynamic Spotlight Ad
      description: '## Update a Dynamic Spotlight Ad Creative


        \* http

        \* curl


        HTTPCopy


        ```

        POST https://api.linkedin.com/rest/creatives/{sponsoredCreative-urn}


        ```


        JSONCopy


        ```

        {

        "patch": {

        "$set": {

        "content": {

        "spotlight": {

        "callToAction": "New Action",

        "description": "New Description",

        "headline": "New Headline",

        "landingPage": "http://example.com",

        "organizationName": "New Organization Name",

        "logo": "urn:li:image:def",

        "showMemberProfilePhoto": false

        }

        }

        }

        }

        }


        ```


        A successful response returns a `204 No Content`.'
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateADynamicSpotlightRequest'
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: sponsoredCreative-urn
        in: path
        schema:
          type: string
        required: true
        example: urn:li:organization:123456
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postUpdateADynamicSpotlight
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
    delete:
      tags:
      - Use Cases > Spotlight Ad
      summary: LinkedIn Delete a Dynamic Spotlight Ad
      description: '## Delete a Dynamic Spotlight Ad Creative


        \* http

        \* curl


        HTTPCopy


        ```

        DELETE https://api.linkedin.com/rest/creatives/{sponsoredCreative-urn}


        ```


        A successful response returns a `204 No Content`.'
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: sponsoredCreative-urn
        in: path
        schema:
          type: string
        required: true
        example: urn:li:organization:123456
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: deleteDeleteADynamicSpotlight
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
components:
  schemas:
    CreateADynamicSpotlightRequest:
      type: string
      example: '"{\n    \"content\": {\n        \"spotlight\": {\n            \"callToAction\": \"Join Us Now\",\n            \"description\": \"Check out this demo\",\n            \"headline\": \"Spotlight Ad Demo\",\n            \"landingPage\": \"http://www.linkedin.com\",\n            \"logo\": \"urn:li:image:abc\",\n            \"organizationName\": \"LinkedIn Demo\",\n            \"showMemberProfilePhoto\": true\n        }\n     },\n     \"campaign\": \"urn:li:sponsoredCampaign:123\",\n     \"intendedStatus\": \"ACTIVE\"\n}\n"'
    UpdateADynamicSpotlightRequest:
      type: string
      example: '"{\n    \"patch\": {\n        \"$set\": {\n            \"content\": {\n                \"spotlight\": {\n        \"callToAction\": \"New Action\",\n        \"description\": \"New Description\",\n        \"headline\": \"New Headline\",\n        \"landingPage\": \"http://example.com\",                       \n                    \"organizationName\": \"New Organization Name\",\n                    \"logo\": \"urn:li:image:def\",\n\t        \"showMemberProfilePhoto\": false\n                }\n            }\n        }\n    }\n}\n"'
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
