openapi: 3.2.0
info:
  title: Content Use Cases > Conversation Ad > Sponsored…
  description: Please note that these are versioned set of APIs and they are different than the earlier one.
  version: 1.0.0
servers:
- url: https://api.linkedin.com
  description: LinkedIn Marketing API Production Server
security:
- oauth2Auth: []
tags:
- name: Use Cases > Conversation Ad > Sponsored Conversations
  description: Linkedin is introducing its next generation of APIs to create and manage Conversation Ads, enabling advertisers to better deliver automated messages to a targeted LinkedIn member's inbox. This API replaces the previous /sponsoredConversations API.
paths:
  /conversationAds:
    post:
      tags:
      - Use Cases > Conversation Ad > Sponsored Conversations
      summary: LinkedIn Create a Sponsored Conversation
      description: Successful response will have Status `201 Created` and the ID in the `x-linkedin-id` response header. For example,`urn:li:sponsoredConversation:164380864`
      requestBody:
        content: {}
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: X-Restli-Protocol-Version
        in: header
        schema:
          type: string
        example: 2.0.0
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postCreateASponsoredConversation
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
    get:
      tags:
      - Use Cases > Conversation Ad > Sponsored Conversations
      summary: LinkedIn Get Multiple Sponsored Conversations
      description: 'Makes a BATCH_GET request to let a list of conversations that are created.


        #### Sample Response


        JSONCopy


        ```

        {

        "statuses": {

        "urn:li:sponsoredConversation:704255": 200,

        "urn:li:sponsoredConversation:703695": 200

        },

        "results": {

        "urn:li:sponsoredConversation:704255":

        {

        "id": "urn:li:sponsoredConversation:704255",

        "parentAccount": "urn:li:sponsoredAccount:520866471"


        },

        "urn:li:sponsoredConversation:703695":

        {

        "id": "urn:li:sponsoredConversation:703695",

        "parentAccount": "urn:li:sponsoredAccount:520866471",

        }

        },

        "errors": {}

        }

        ```'
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: X-Restli-Protocol-Version
        in: header
        schema:
          type: string
        example: 2.0.0
      - name: X-RestLi-Method
        in: header
        schema:
          type: string
        example: BATCH_GET
      - name: ids
        in: query
        schema:
          type: string
        example: List({conversation-urn1},{conversation-urn2})'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getGetMultipleSponsoredConversations
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /conversationAds/{conversationUrn}:
    get:
      tags:
      - Use Cases > Conversation Ad > Sponsored Conversations
      summary: LinkedIn Get a Sponsored Conversation
      description: '#### Sample Response


        JSONCopy


        ```

        {

        "id": "urn:li:sponsoredConversation:185204",

        "parentAccount": "urn:li:sponsoredAccount:520866471"

        }


        ```'
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: X-Restli-Protocol-Version
        in: header
        schema:
          type: string
        example: 2.0.0
      - name: conversationUrn
        in: path
        schema:
          type: string
        required: true
        example: urn:li:organization:123456
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getGetASponsoredConversation
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
    post:
      tags:
      - Use Cases > Conversation Ad > Sponsored Conversations
      summary: LinkedIn Update a Sponsored Conversation
      description: In the following example, the `firstMessageContent` field is changed to point to the first message of the conversation.
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateASponsoredConversationRequest'
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: X-Restli-Protocol-Version
        in: header
        schema:
          type: string
        example: 2.0.0
      - name: conversationUrn
        in: path
        schema:
          type: string
        required: true
        example: urn:li:organization:123456
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postUpdateASponsoredConversation
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
components:
  schemas:
    UpdateASponsoredConversationRequest:
      type: string
      example: '"{\n  \"patch\": {\n     \"$set\": {\n        \"firstMessageContent\": \"urn:li:sponsoredMessageContent:(urn:li:sponsoredConversation:185204:14253)”\n     }\n  } \n}\n"'
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
