openapi: 3.2.0
info:
  title: LinkedIn Marketing Audiences Ad Accounts API
  description: LinkedIn Audiences API enables combining LinkedIn's data with your own data to reach the right audiences on LinkedIn. This includes streaming companies for account targeting, streaming users for contact targeting, and CSV list uploads for both account and contact targeting.
  version: 1.0.0
  contact:
    name: LinkedIn Marketing API Support
    url: https://docs.microsoft.com/en-us/linkedin/marketing/
servers:
- url: https://api.linkedin.com/rest
  description: LinkedIn REST API Server
security:
- OAuth2Auth:
  - rw_ads
tags:
- name: Ad Accounts
  description: APIs to retrieve and manage ad accounts
paths:
  /adAccounts:
    get:
      tags:
      - Ad Accounts
      summary: LinkedIn Retrieve User Ad Accounts
      description: Retrieve the authenticated user's ad accounts. Filter by type, status, and test flag to get relevant accounts.
      operationId: getAdAccounts
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
      - name: X-Restli-Protocol-Version
        in: header
        required: true
        schema:
          type: string
        description: RestLi protocol version
        example: 2.0.0
      - name: LinkedIn-Version
        in: header
        required: true
        schema:
          type: string
        description: LinkedIn API version
        example: '202401'
      - name: q
        in: query
        required: true
        schema:
          type: string
          enum:
          - search
        description: Query type
        example: search
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Search criteria
        example: (type:(values:List(BUSINESS)),status:(values:List(ACTIVE)),test:false)
      - name: fields
        in: query
        required: false
        schema:
          type: string
        description: Fields to include in response
        example: id,name,test,reference
      responses:
        '200':
          description: Successfully retrieved ad accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountsResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/AdAccountsResponseExample'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Error message
          example: Invalid request parameters
        code:
          type: string
          description: Error code
          example: INVALID_PARAMS
    AdAccountsResponse:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/AdAccount'
        paging:
          $ref: '#/components/schemas/Paging'
    Paging:
      type: object
      properties:
        start:
          type: integer
          description: Starting index
          example: 0
        count:
          type: integer
          description: Number of results returned
          example: 10
        total:
          type: integer
          description: Total number of results
          example: 2
        links:
          type: array
          items:
            type: string
    AdAccount:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the ad account
          example: 123456
        name:
          type: string
          description: Display name of the ad account
          example: Test ad account
        reference:
          type: string
          description: Reference URN (organization) for the ad account
          example: urn:li:organization:11223344
        test:
          type: boolean
          description: Whether this is a test ad account
          example: false
      required:
      - id
      - name
      - test
  examples:
    AdAccountsResponseExample:
      summary: List of ad accounts
      value:
        paging:
          start: 0
          count: 10
          total: 2
          links: []
        elements:
        - name: Test ad account
          reference: urn:li:organization:11223344
          id: 123456
          test: false
        - name: MDO ad account
          reference: urn:li:organization:2355689
          id: 456789
          test: false
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.linkedin.com/oauth/v2/authorization
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            rw_ads: Read and write advertising data
