openapi: 3.2.0
info:
  title: Community Management Use Cases > Organization Followers API
  description: '**You must apply for access to the Marketing Developer Platform in order to use these APIs. See the** [**Developer Portal**](https://developer.linkedin.com/product-catalog/marketing/page-management) **on how to apply.**


    This collection aims to focus on different Community Management use cases, for example, social action notifications, and should be used with the **community-management-env-versioning** environment.


    \--All requests for the Community Management API collection are in the Restli 2.0 format--


    AuthorizationOAuth 2.0'
  version: 1.0.0
servers:
- url: https://api.linkedin.com
  description: LinkedIn Marketing API Production Server
security:
- oauth2Auth: []
tags:
- name: Use Cases > Organization Followers
paths:
  /peopleTypeahead:
    get:
      tags:
      - Use Cases > Organization Followers
      summary: LinkedIn Search by Keyword
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: X-Restli-Protocol-Version
        in: header
        schema:
          type: string
        example: 2.0.0
      - name: q
        in: query
        schema:
          type: string
        example: organizationFollowers
      - name: keywords
        in: query
        schema:
          type: string
        example: chris
      - name: organization
        in: query
        schema:
          type: string
        example: urn%3Ali%3Aorganization%3A{{organization_id}}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getSearchByKeyword
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /vanityUrl:
    get:
      tags:
      - Use Cases > Organization Followers
      summary: LinkedIn Search by Vanity URL
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: X-Restli-Protocol-Version
        in: header
        schema:
          type: string
        example: 2.0.0
      - name: q
        in: query
        schema:
          type: string
        example: vanityUrlAsOrganization
      - name: vanityUrl
        in: query
        schema:
          type: string
        example: https%3A//www.linkedin.com/in/vanityName/
      - name: organization
        in: query
        schema:
          type: string
        example: urn%3Ali%3Aorganization%3A{{organization_id}}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getSearchByVanityUrl
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
components:
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
