openapi: 3.2.0
info:
  title: Content Use Cases > Document Ad API
  description: 'Please note that these are versioned set of APIs and they are different than the earlier one.


    These must be used with the **content-api-env-versioning** environment.


    Content APIs are the APIs that are published with the versioned release. These APIs bring capabilities to partners/developers to create rich content via LinkedIn Ads with minimal operational and technical overhead.


    **You must apply for access to the Marketing Developer Platform in order to use these APIs. See the** [**Developer Portal**](https://developer.linkedin.com/product-catalog/marketing/campaign-management) **on how to apply.**'
  version: 1.0.0
servers:
- url: https://api.linkedin.com
  description: LinkedIn Marketing API Production Server
security:
- oauth2Auth: []
tags:
- name: Use Cases > Document Ad
paths:
  /:
    put:
      tags:
      - Use Cases > Document Ad
      summary: LinkedIn Upload the Document File (select a Document File in the Body for Postman to Use)
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: putUploadTheDocumentFile
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /rest/images:
    get:
      tags:
      - Use Cases > Document Ad
      summary: LinkedIn Get Multiple Documents
      parameters:
      - name: ids
        in: query
        schema:
          type: string
        example: List({{document_urn1}},{{document_urn2}})
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getGetMultipleDocuments
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /posts:
    post:
      tags:
      - Use Cases > Document Ad
      summary: LinkedIn Create Document Content
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateDocumentContentRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postCreateDocumentContent
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
    get:
      tags:
      - Use Cases > Document Ad
      summary: LinkedIn Fetch Multiple Document Content
      parameters:
      - name: ids
        in: query
        schema:
          type: string
        example: List({encoded postId},{encoded postId})
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getFetchMultipleDocumentContent
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /documents:
    post:
      tags:
      - Use Cases > Document Ad
      summary: LinkedIn Initialize Document Upload
      requestBody:
        content: {}
      parameters:
      - name: action
        in: query
        schema:
          type: string
        example: initializeUpload
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postInitializeDocumentUpload
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  //documents/{document_asset_id}:
    get:
      tags:
      - Use Cases > Document Ad
      summary: LinkedIn Get a Single Document
      parameters:
      - name: document_asset_id
        in: path
        schema:
          type: string
        required: true
        example: '123456'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getGetASingleDocument
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
components:
  schemas:
    CreateDocumentContentRequest:
      type: string
      example: '"{\n    \"author\": \"urn:li:organization:{{organization_id}}\",\n    \"commentary\": \"test strings!\",\n    \"visibility\": \"PUBLIC\",\n    \"distribution\": {\n        \"feedDistribution\": \"MAIN_FEED\",\n        \"targetEntities\": [],\n        \"thirdPartyDistributionChannels\": []\n    },\n    \"content\": {\n        \"media\": {\n            \"title\":\"Example.pdf\",\n            \"id\": \"urn:li:document:{{document_asset_id}}\"\n        }\n    },\n    \"lifecycleState\": \"PUBLISHED\",\n    \"isReshareDisabledByAuthor\": false\n}"'
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
