openapi: 3.2.0
info:
  title: LinkedIn Marketing Audience Insights API
  description: 'Audience Insights API enables you to discover and identify audience segments that meet your target persona, demonstrate interest and engagement in relevant products/offerings, uncover insights about companies the target audience works for, and activate audience for targeting in sponsored ad campaigns on LinkedIn.

    Note: This is a private API available to qualified developers who meet additional criteria for access.'
  version: 1.0.0
  contact:
    name: LinkedIn Marketing API Support
    url: https://learn.microsoft.com/en-us/linkedin/marketing/
servers:
- url: https://api.linkedin.com/rest
  description: LinkedIn REST API Server
security:
- OAuth2Auth:
  - r_ads
tags:
- name: Audience Insights
  description: APIs to fetch audience insights based on targeting criteria
paths:
  /targetingAudienceInsights:
    post:
      tags:
      - Audience Insights
      summary: LinkedIn Fetch Audience Insights by Targeting Criteria
      description: Retrieve aggregated demographic insights, firmographic details, locations, and interests/behaviors for a target audience based on specified targeting criteria.
      operationId: getAudienceInsights
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
      - name: LinkedIn-Version
        in: header
        required: true
        schema:
          type: string
        description: LinkedIn API version
        example: '202401'
      - name: X-Restli-Protocol-Version
        in: header
        required: true
        schema:
          type: string
        description: RestLi protocol version
        example: 2.0.0
      - name: action
        in: query
        required: true
        schema:
          type: string
          enum:
          - audienceInsights
        description: Action to perform
        example: audienceInsights
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceInsightsRequest'
            examples:
              FinanceDirectorsInUS:
                $ref: '#/components/examples/AudienceInsightsRequestExample'
      responses:
        '200':
          description: Successfully retrieved audience insights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceInsightsResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/AudienceInsightsResponseExample'
        '400':
          description: Bad request - invalid targeting criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions for Audience Insights API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  examples:
    AudienceInsightsResponseExample:
      summary: Audience insights response with top interests
      value:
        value:
          audienceInsight:
            segmentations:
            - entityCount: 4900000
              entityPercentage: 89
              value: urn:li:interest:71363
            - entityCount: 4500000
              entityPercentage: 82
              value: urn:li:interest:420
            - entityCount: 4500000
              entityPercentage: 82
              value: urn:li:interest:2689786
            - entityCount: 4400000
              entityPercentage: 80
              value: urn:li:interest:3440
            - entityCount: 4300000
              entityPercentage: 78
              value: urn:li:interest:1537154
            groupedBy: urn:li:adTargetingFacet:interests
          totalAudienceCount: 5500000
    AudienceInsightsRequestExample:
      summary: Request for interests of Finance directors in US
      value:
        request:
          requestMetaData:
            sponsoredAccount: urn:li:sponsoredAccount:123456789
          targetingCriteria:
            include:
              and:
              - or:
                  urn:li:adTargetingFacet:locations:
                  - urn:li:geo:103644278
              - or:
                  urn:li:adTargetingFacet:interfaceLocales:
                  - urn:li:locale:en_US
              - or:
                  urn:li:adTargetingFacet:jobFunctions:
                  - urn:li:function:10
          groupBy: urn:li:adTargetingFacet:interests
  schemas:
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Error message
          example: Invalid request parameters
        code:
          type: string
          description: Error code
          example: INVALID_PARAMS
    AudienceInsightsRequest:
      type: object
      properties:
        request:
          type: object
          properties:
            requestMetaData:
              $ref: '#/components/schemas/RequestMetaData'
            targetingCriteria:
              $ref: '#/components/schemas/TargetingCriteria'
            groupBy:
              type: string
              description: Facet URN to group insights by
              example: urn:li:adTargetingFacet:interests
          required:
          - targetingCriteria
          - groupBy
    RequestMetaData:
      type: object
      properties:
        sponsoredAccount:
          type: string
          description: URN of the sponsored account
          example: urn:li:sponsoredAccount:123456789
    AudienceInsight:
      type: object
      properties:
        segmentations:
          type: array
          items:
            $ref: '#/components/schemas/InsightSegmentation'
        groupedBy:
          type: string
          description: Facet URN the insights are grouped by
          example: urn:li:adTargetingFacet:interests
    AudienceInsightsResponse:
      type: object
      properties:
        value:
          type: object
          properties:
            audienceInsight:
              $ref: '#/components/schemas/AudienceInsight'
            totalAudienceCount:
              type: integer
              description: Total count of the target audience
              example: 5500000
    TargetingCriteria:
      type: object
      properties:
        include:
          type: object
          properties:
            and:
              type: array
              items:
                type: object
                properties:
                  or:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
    InsightSegmentation:
      type: object
      properties:
        entityCount:
          type: integer
          description: Number of members matching this segment
          example: 4900000
        entityPercentage:
          type: integer
          description: Percentage of audience matching this segment
          example: 89
        value:
          type: string
          description: URN of the segment value
          example: urn:li:interest:71363
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.linkedin.com/oauth/v2/authorization
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            r_ads: Read advertising data
