openapi: 3.2.0
info:
  title: LinkedIn Recruiter System Connect Access Control API
  description: 'The LinkedIn Recruiter System Connect (RSC) API enables partners to integrate their Applicant Tracking Systems (ATS) with LinkedIn Recruiter. This API supports:

    - Configuring customer middleware integrations - Syncing data from ATS to LinkedIn (jobs, candidates, applications) - Retrieving data from LinkedIn (exported candidates, InMail history) - Defining permissions via Access Control Lists (ACLs) - Managing synced data lifecycle

    For comprehensive documentation, visit the [RSC Documentation](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/).'
  version: 1.0.0
  contact:
    name: LinkedIn Talent Solutions
    url: https://docs.microsoft.com/en-us/linkedin/talent/
servers:
- url: https://api.linkedin.com
  description: LinkedIn Production API Server
- url: https://www.linkedin.com
  description: LinkedIn OAuth Server
security:
- BearerAuth: []
tags:
- name: Access Control
  description: Manage entity ACLs and assignees
paths:
  /v2/atsEntityAcls:
    put:
      operationId: upsertEntityAcl
      tags:
      - Access Control
      summary: LinkedIn Upsert Entity ACL
      description: 'Creates or updates entity ACLs that control visibility of synced entities within LinkedIn products.

        For more information, refer to the [Sync ACLs documentation](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-acls#sync-entity-acls).'
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - $ref: '#/components/parameters/RestliMethodHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: ids[0].atsEntityAclId
        in: query
        required: true
        schema:
          type: string
        example: ACL-001
      - name: ids[0].dataProvider
        in: query
        required: true
        schema:
          type: string
        example: ATS
      - name: ids[0].integrationContext
        in: query
        required: true
        schema:
          type: string
        example: urn:li:organization:12345
      - name: ids[0].atsEntityType
        in: query
        required: true
        schema:
          type: string
          enum:
          - JOB_POSTING
          - CANDIDATE
        example: JOB_POSTING
      - name: ids[0].atsEntityId
        in: query
        required: true
        schema:
          type: string
        example: JOB-2024-001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityAclRequest'
      responses:
        '200':
          description: Successfully upserted entity ACL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/SuccessResponseExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: getEntityAcl
      tags:
      - Access Control
      summary: LinkedIn Retrieve Entity ACL
      description: 'Retrieves details of previously synced entity ACLs.

        For more information, refer to the [Retrieve Entity ACLs documentation](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-acls#retrieve-entity-acls).'
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        example: criteria
      - name: atsEntityId
        in: query
        required: true
        schema:
          type: string
        example: JOB-2024-001
      - name: atsEntityType
        in: query
        required: true
        schema:
          type: string
        example: JOB_POSTING
      - name: dataProvider
        in: query
        required: true
        schema:
          type: string
        example: ATS
      - name: integrationContext
        in: query
        required: true
        schema:
          type: string
        example: urn:li:organization:12345
      - name: start
        in: query
        required: false
        schema:
          type: integer
        example: 0
      - name: count
        in: query
        required: false
        schema:
          type: integer
        example: 100
      responses:
        '200':
          description: Successfully retrieved entity ACL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          description: ACL not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteEntityAcl
      tags:
      - Access Control
      summary: LinkedIn Delete Entity ACL
      description: 'Deletes previously synced entity ACLs.

        For more information, refer to the [Delete Entity ACLs documentation](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-acls#delete-entity-acls).'
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - name: ids[0].atsEntityAclId
        in: query
        required: true
        schema:
          type: string
        example: ACL-001
      - name: ids[0].dataProvider
        in: query
        required: true
        schema:
          type: string
        example: ATS
      - name: ids[0].integrationContext
        in: query
        required: true
        schema:
          type: string
        example: urn:li:organization:12345
      - name: ids[0].atsEntityId
        in: query
        required: true
        schema:
          type: string
        example: JOB-2024-001
      - name: ids[0].atsEntityType
        in: query
        required: true
        schema:
          type: string
        example: JOB_POSTING
      responses:
        '200':
          description: Successfully deleted entity ACL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          description: ACL not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        serviceErrorCode:
          type: integer
          example: 100
    EntityAclRequest:
      type: object
      description: Request for upserting entity ACLs
      properties:
        entities:
          type: object
    SuccessResponse:
      type: object
      properties:
        status:
          type: string
          example: SUCCESS
  parameters:
    RestliMethodHeader:
      name: x-restli-method
      in: header
      required: true
      description: Rest.li method type
      schema:
        type: string
        enum:
        - batch_update
        - batch_partial_update
        - batch_create
      example: batch_update
    ContentTypeHeader:
      name: Content-Type
      in: header
      required: true
      description: Content type of request body
      schema:
        type: string
      example: application/json
  examples:
    SuccessResponseExample:
      summary: Successful operation response
      value:
        status: SUCCESS
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer Token for API access
    OAuth2Auth:
      type: oauth2
      description: OAuth 2.0 authentication with 3-legged flow
      flows:
        authorizationCode:
          authorizationUrl: https://www.linkedin.com/oauth/v2/authorization
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            r_liteprofile: Read basic profile data
