openapi: 3.2.0
info:
  title: LinkedIn Marketing Campaign Management Creative Management API
  description: 'Campaign Manager is LinkedIn''s online tool for creating and managing ad accounts and campaigns. This API provides capabilities for account management, campaign group management, campaign management, creative management, ad targeting, and forecasting.

    You must apply for access to the Marketing Developer Platform to use these APIs.'
  version: 1.0.0
  contact:
    name: LinkedIn Marketing API Support
    url: https://developer.linkedin.com/product-catalog/marketing/campaign-management
servers:
- url: https://api.linkedin.com/rest
  description: LinkedIn REST API Server
security:
- OAuth2Auth:
  - rw_ads
tags:
- name: Creative Management
  description: APIs to create and manage ad creatives
paths:
  /creatives:
    post:
      tags:
      - Creative Management
      summary: LinkedIn Create Creative
      description: Create a new ad creative.
      operationId: createCreative
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeCreateRequest'
            examples:
              CreateCreative:
                value:
                  campaign: urn:li:sponsoredCampaign:444555666
                  reference: urn:li:ugcPost:123456789
                  status: ACTIVE
                  type: SPONSORED_VIDEO
                  variables:
                    data:
                      com.linkedin.ads.SponsoredVideoCreativeVariables: {}
      responses:
        '201':
          description: Creative created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative'
              examples:
                SuccessResponse:
                  value:
                    id: urn:li:sponsoredCreative:777888999
                    campaign: urn:li:sponsoredCampaign:444555666
                    reference: urn:li:ugcPost:123456789
                    status: ACTIVE
                    type: SPONSORED_VIDEO
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Creative:
      type: object
      properties:
        id:
          type: string
          description: Creative URN
          example: urn:li:sponsoredCreative:777888999
        campaign:
          type: string
          description: Parent campaign URN
          example: urn:li:sponsoredCampaign:444555666
        reference:
          type: string
          description: Reference URN (e.g., UGC post)
          example: urn:li:ugcPost:123456789
        status:
          type: string
          enum:
          - ACTIVE
          - PAUSED
          - DRAFT
          - ARCHIVED
          - CANCELLED
          - PENDING_DELETION
          - REMOVED
          description: Creative status
          example: ACTIVE
        type:
          type: string
          enum:
          - SPONSORED_STATUS_UPDATE
          - SPONSORED_VIDEO
          - CAROUSEL
          - TEXT_AD
          - MESSAGE_AD
          description: Creative type
          example: SPONSORED_VIDEO
    CreativeCreateRequest:
      type: object
      properties:
        campaign:
          type: string
          example: urn:li:sponsoredCampaign:444555666
        reference:
          type: string
          example: urn:li:ugcPost:123456789
        status:
          type: string
          example: ACTIVE
        type:
          type: string
          example: SPONSORED_VIDEO
        variables:
          type: object
          properties:
            data:
              type: object
      required:
      - campaign
      - reference
      - status
      - type
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        code:
          type: string
          example: INVALID_PARAMS
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.linkedin.com/oauth/v2/authorization
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            rw_ads: Read and write advertising data
            r_ads: Read advertising data
