openapi: 3.2.0
info:
  title: LinkedIn Job Posting Customer Integrations API
  description: 'LinkedIn''s Job Posting API enables authorized third parties such as clients, ATS systems, and Job Distributors to post jobs directly to LinkedIn on behalf of customers.

    This API supports two job categories:

    - **Basic Jobs**: Free job posts gathered by LinkedIn from external sources - **Promoted Jobs**: Paid job postings with enhanced visibility

    The use of these APIs is restricted to developers approved by LinkedIn. Please reach out to your LinkedIn Relationship Manager or Business Development contact for access.

    For more information, refer to the [Job Posting Overview](https://docs.microsoft.com/en-us/linkedin/talent/job-postings/job-posting-overview).'
  version: 1.0.0
  contact:
    name: LinkedIn Talent Solutions
    url: https://business.linkedin.com/talent-solutions
servers:
- url: https://api.linkedin.com
  description: LinkedIn Production API Server
security:
- OAuth2Auth: []
tags:
- name: Customer Integrations
  description: APIs for managing customer ATS integrations for premium job posting
paths:
  /v2/atsIntegrations:
    post:
      operationId: updateCustomerIntegrations
      tags:
      - Customer Integrations
      summary: LinkedIn Update Customer ATS Integrations
      description: Updates customer ATS integrations for premium job posting capabilities. Partners use this endpoint to configure the integration name and other settings for their customers.
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - $ref: '#/components/parameters/IntegrationContextQuery'
      - $ref: '#/components/parameters/IntegrationTypeQuery'
      - $ref: '#/components/parameters/TenantTypeQuery'
      - $ref: '#/components/parameters/DataProviderQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtsIntegrationUpdateRequest'
            examples:
              UpdateIntegration:
                $ref: '#/components/examples/AtsIntegrationUpdateRequestExample'
      responses:
        '200':
          description: Successfully updated the integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsIntegrationResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/AtsIntegrationResponseExample'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: getCustomerIntegrations
      tags:
      - Customer Integrations
      summary: LinkedIn Get Customer ATS Integration Details
      description: Retrieves the details of a customer's ATS integration for premium job posting. Use this endpoint to verify integration configuration and status.
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - $ref: '#/components/parameters/IntegrationContextQuery'
      - $ref: '#/components/parameters/IntegrationTypeQuery'
      - $ref: '#/components/parameters/TenantTypeQuery'
      - $ref: '#/components/parameters/DataProviderQuery'
      responses:
        '200':
          description: Successfully retrieved integration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsIntegrationResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/AtsIntegrationResponseExample'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Integration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        serviceErrorCode:
          type: integer
          example: 100
    AtsIntegrationUpdateRequest:
      type: object
      description: Request body for updating ATS integrations
      properties:
        entities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AtsIntegrationPatch'
    AtsIntegrationDetail:
      type: object
      properties:
        integrationContext:
          type: string
          example: urn:li:contract:12345
        integrationType:
          type: string
          example: PREMIUM_JOB_POSTING
        integrationName:
          type: string
          example: Customer Name - LinkedIn LTS Premium Job Posting Integration
        status:
          type: string
          example: ENABLED
    AtsIntegrationResponse:
      type: object
      description: Response for ATS integration details
      properties:
        results:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AtsIntegrationDetail'
    AtsIntegrationPatch:
      type: object
      properties:
        patch:
          type: object
          properties:
            $set:
              type: object
              properties:
                integrationName:
                  type: string
                  example: Customer Name - LinkedIn LTS Premium Job Posting Integration
  examples:
    AtsIntegrationUpdateRequestExample:
      summary: Example ATS integration update request
      value:
        entities:
          integrationContext=urn:li:contract:12345&integrationType=PREMIUM_JOB_POSTING&tenantType=JOBS&dataProvider=ATS:
            patch:
              $set:
                integrationName: Customer Name - LinkedIn LTS Premium Job Posting Integration
    AtsIntegrationResponseExample:
      summary: Example ATS integration response
      value:
        results:
          integrationContext=urn:li:contract:12345&integrationType=PREMIUM_JOB_POSTING&tenantType=JOBS&dataProvider=ATS:
            integrationContext: urn:li:contract:12345
            integrationType: PREMIUM_JOB_POSTING
            integrationName: Customer Name - LinkedIn LTS Premium Job Posting Integration
            status: ENABLED
  parameters:
    DataProviderQuery:
      name: ids[0].dataProvider
      in: query
      required: true
      description: Data provider identifier
      schema:
        type: string
      example: ATS
    IntegrationContextQuery:
      name: ids[0].integrationContext
      in: query
      required: true
      description: Integration context URN
      schema:
        type: string
      example: urn:li:contract:12345
    TenantTypeQuery:
      name: ids[0].tenantType
      in: query
      required: true
      description: Tenant type for the integration
      schema:
        type: string
      example: JOBS
    IntegrationTypeQuery:
      name: ids[0].integrationType
      in: query
      required: true
      description: Type of integration
      schema:
        type: string
      example: PREMIUM_JOB_POSTING
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer Token authentication
    OAuth2Auth:
      type: oauth2
      description: OAuth 2.0 authentication
      flows:
        clientCredentials:
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            w_organization_social: Write organization social content
