openapi: 3.2.0
info:
  title: LinkedIn Pages Data Portability Organization Access Control API
  description: 'The LinkedIn Pages Data Portability API provides access to organization data for regulatory compliance with the Digital Markets Act (DMA). This API enables data portability for:

    - Organization profiles and settings - Organization ACLs and authorization - Page content analytics - Feed posts, reactions, and comments - Lead generation data - Talent attraction data - Events and live video - Creator analytics

    For comprehensive documentation, visit the [DMA Documentation](https://learn.microsoft.com/en-us/linkedin/dma/).'
  version: 1.0.0
  contact:
    name: LinkedIn API Support
    url: https://learn.microsoft.com/en-us/linkedin/
servers:
- url: https://api.linkedin.com
  description: LinkedIn Production API Server
security:
- BearerAuth: []
tags:
- name: Organization Access Control
  description: Organization ACLs and authorization data
paths:
  /rest/dmaOrganizationAcls:
    get:
      operationId: getOrganizationAcls
      tags:
      - Organization Access Control
      summary: LinkedIn Get Organization ACLs
      description: Retrieves organization access control list entries showing role assignments for organization administrators and content managers.
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - $ref: '#/components/parameters/LinkedInVersionHeader'
      - $ref: '#/components/parameters/RestliProtocolVersionHeader'
      - $ref: '#/components/parameters/QueryTypeParameter'
      - $ref: '#/components/parameters/RoleParameter'
      - $ref: '#/components/parameters/StartParameter'
      - $ref: '#/components/parameters/CountParameter'
      responses:
        '200':
          description: Successfully retrieved organization ACLs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAclResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/OrganizationAclResponseExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Paging:
      type: object
      properties:
        start:
          type: integer
          example: 0
        count:
          type: integer
          example: 25
        total:
          type: integer
          example: 100
        links:
          type: array
          items:
            type: object
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        serviceErrorCode:
          type: integer
          example: 100
    Timestamp:
      type: object
      properties:
        time:
          type: integer
          format: int64
          example: 1702693664000
    OrganizationAclResponse:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationAcl'
        paging:
          $ref: '#/components/schemas/Paging'
    OrganizationAcl:
      type: object
      properties:
        organization:
          type: string
          example: urn:li:organization:10002687
        roleAssignee:
          type: string
          example: urn:li:person:ABC123
        role:
          type: string
          enum:
          - ADMINISTRATOR
          - CONTENT_ADMIN
          - ANALYST
          - RECRUITING_POSTER
          example: ADMINISTRATOR
        state:
          type: string
          enum:
          - APPROVED
          - PENDING
          example: APPROVED
        created:
          $ref: '#/components/schemas/Timestamp'
  examples:
    OrganizationAclResponseExample:
      summary: Organization ACL response
      value:
        elements:
        - organization: urn:li:organization:10002687
          roleAssignee: urn:li:person:ABC123
          role: ADMINISTRATOR
          state: APPROVED
        paging:
          start: 0
          count: 25
          total: 1
  parameters:
    StartParameter:
      name: start
      in: query
      required: false
      description: Pagination start index
      schema:
        type: integer
      example: 0
    LinkedInVersionHeader:
      name: LinkedIn-Version
      in: header
      required: true
      description: LinkedIn API version in YYYYMM format
      schema:
        type: string
      example: '202312'
    CountParameter:
      name: count
      in: query
      required: false
      description: Number of results to return
      schema:
        type: integer
      example: 25
    QueryTypeParameter:
      name: q
      in: query
      required: true
      description: Query type for finder operations
      schema:
        type: string
      example: roleAssignee
    RestliProtocolVersionHeader:
      name: X-Restli-Protocol-Version
      in: header
      required: true
      description: Rest.li protocol version
      schema:
        type: string
      example: 2.0.0
    RoleParameter:
      name: role
      in: query
      required: false
      description: Role filter for ACL queries
      schema:
        type: string
        enum:
        - ADMINISTRATOR
        - CONTENT_ADMIN
        - ANALYST
      example: ADMINISTRATOR
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer Token for API access
