openapi: 3.1.0
info:
  title: LinkedIn Compliance Events Access Control Page Analytics API
  description: LinkedIn provides Compliance API Guides for monitoring, archiving, and management of communications for enterprises in regulated industries. The Compliance Events API allows applications to archive all LinkedIn activities from the past 30 days of a regulated, authenticated member.
  version: 1.0.0
  contact:
    name: LinkedIn API Support
    url: https://docs.microsoft.com/en-us/linkedin/compliance/
servers:
- url: https://api.linkedin.com
  description: LinkedIn Production API Server
security:
- OAuth2Auth:
  - r_compliance
tags:
- name: Page Analytics
  description: Organizational page content and edge analytics
paths:
  /rest/dmaOrganizationalPageContentAnalytics:
    get:
      operationId: getPageContentAnalytics
      tags:
      - Page Analytics
      summary: LinkedIn Get Page Content Analytics
      description: Retrieves content analytics data for organizational pages including impressions, clicks, engagement rates, and social interactions.
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - $ref: '#/components/parameters/LinkedInVersionHeader'
      - $ref: '#/components/parameters/RestliProtocolVersionHeader'
      - $ref: '#/components/parameters/QueryTypeParameter'
      - name: organizationUrn
        in: query
        required: true
        schema:
          type: string
        example: urn:li:organization:10002687
      - $ref: '#/components/parameters/StartParameter'
      - $ref: '#/components/parameters/CountParameter'
      responses:
        '200':
          description: Successfully retrieved page analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/AnalyticsResponseExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Paging:
      type: object
      properties:
        start:
          type: integer
          example: 0
        count:
          type: integer
          example: 25
        total:
          type: integer
          example: 100
        links:
          type: array
          items:
            type: object
    DateInfo:
      type: object
      properties:
        year:
          type: integer
          example: 2001
        month:
          type: integer
          example: 1
        day:
          type: integer
          example: 15
    AnalyticsRecord:
      type: object
      properties:
        dateRange:
          type: object
          properties:
            start:
              $ref: '#/components/schemas/DateInfo'
            end:
              $ref: '#/components/schemas/DateInfo'
        impressionCount:
          type: integer
          example: 15000
        clickCount:
          type: integer
          example: 500
        likeCount:
          type: integer
          example: 250
        commentCount:
          type: integer
          example: 45
        shareCount:
          type: integer
          example: 30
        engagementRate:
          type: number
          format: double
          example: 0.055
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        serviceErrorCode:
          type: integer
          example: 100
    AnalyticsResponse:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsRecord'
        paging:
          $ref: '#/components/schemas/Paging'
  parameters:
    RestliProtocolVersionHeader:
      name: X-Restli-Protocol-Version
      in: header
      required: true
      description: Rest.li protocol version
      schema:
        type: string
      example: 2.0.0
    QueryTypeParameter:
      name: q
      in: query
      required: true
      description: Query type for finder operations
      schema:
        type: string
      example: roleAssignee
    CountParameter:
      name: count
      in: query
      required: false
      description: Number of results to return
      schema:
        type: integer
      example: 25
    LinkedInVersionHeader:
      name: LinkedIn-Version
      in: header
      required: true
      description: LinkedIn API version in YYYYMM format
      schema:
        type: string
      example: '202312'
    StartParameter:
      name: start
      in: query
      required: false
      description: Pagination start index
      schema:
        type: integer
      example: 0
  examples:
    AnalyticsResponseExample:
      summary: Analytics response
      value:
        elements:
        - dateRange:
            start:
              year: 2023
              month: 12
              day: 1
            end:
              year: 2023
              month: 12
              day: 31
          impressionCount: 15000
          clickCount: 500
          likeCount: 250
          commentCount: 45
          shareCount: 30
          engagementRate: 0.055
        paging:
          start: 0
          count: 25
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.linkedin.com/oauth/v2/authorization
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            r_compliance: Read compliance data
