openapi: 3.2.0
info:
  title: LinkedIn Recruiter System Connect Authentication API
  description: 'The LinkedIn Recruiter System Connect (RSC) API enables partners to integrate their Applicant Tracking Systems (ATS) with LinkedIn Recruiter. This API supports:

    - Configuring customer middleware integrations - Syncing data from ATS to LinkedIn (jobs, candidates, applications) - Retrieving data from LinkedIn (exported candidates, InMail history) - Defining permissions via Access Control Lists (ACLs) - Managing synced data lifecycle

    For comprehensive documentation, visit the [RSC Documentation](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/).'
  version: 1.0.0
  contact:
    name: LinkedIn Talent Solutions
    url: https://docs.microsoft.com/en-us/linkedin/talent/
servers:
- url: https://api.linkedin.com
  description: LinkedIn Production API Server
- url: https://www.linkedin.com
  description: LinkedIn OAuth Server
security:
- BearerAuth: []
tags:
- name: Authentication
  description: OAuth 2.0 token management for customer applications
paths:
  /oauth/v2/accessToken:
    post:
      operationId: getAccessToken
      tags:
      - Authentication
      summary: LinkedIn Get Customer Application Access Token
      description: Obtains an OAuth 2.0 access token using client credentials grant for customer application authentication.
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      security: []
      parameters:
      - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AccessTokenRequest'
      responses:
        '200':
          description: Successfully obtained access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/AccessTokenResponseExample'
        '401':
          description: Invalid client credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    AccessTokenResponse:
      type: object
      description: Response containing access token
      properties:
        access_token:
          type: string
          description: OAuth 2.0 access token
          example: AQV8vPRN5zF9BxJ...
        expires_in:
          type: integer
          description: Token expiration time in seconds
          example: 5184000
        token_type:
          type: string
          description: Token type
          example: Bearer
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        serviceErrorCode:
          type: integer
          example: 100
    AccessTokenRequest:
      type: object
      description: Request body for obtaining access token
      required:
      - grant_type
      - client_id
      - client_secret
      properties:
        grant_type:
          type: string
          enum:
          - client_credentials
          example: client_credentials
        client_id:
          type: string
          description: OAuth 2.0 client ID
          example: 78abc123def456
        client_secret:
          type: string
          description: OAuth 2.0 client secret
          example: secretXYZ789
  examples:
    AccessTokenResponseExample:
      summary: Successful access token response
      value:
        access_token: AQV8vPRN5zF9BxJ...
        expires_in: 5184000
        token_type: Bearer
  parameters:
    ContentTypeHeader:
      name: Content-Type
      in: header
      required: true
      description: Content type of request body
      schema:
        type: string
      example: application/json
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer Token for API access
    OAuth2Auth:
      type: oauth2
      description: OAuth 2.0 authentication with 3-legged flow
      flows:
        authorizationCode:
          authorizationUrl: https://www.linkedin.com/oauth/v2/authorization
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            r_liteprofile: Read basic profile data
