openapi: 3.2.0
info:
  title: Community Management Use Cases > Statistics APIs > Organization Page Statistics API
  description: '**You must apply for access to the Marketing Developer Platform in order to use these APIs. See the** [**Developer Portal**](https://developer.linkedin.com/product-catalog/marketing/page-management) **on how to apply.**


    This collection aims to focus on different Community Management use cases, for example, social action notifications, and should be used with the **community-management-env-versioning** environment.


    \--All requests for the Community Management API collection are in the Restli 2.0 format--


    AuthorizationOAuth 2.0'
  version: 1.0.0
servers:
- url: https://api.linkedin.com
  description: LinkedIn Marketing API Production Server
security:
- oauth2Auth: []
tags:
- name: Use Cases > Statistics APIs > Organization Page Statistics
  description: This API describes usage of Organization Page Statistics. Fore more details, check [here](https://docs.microsoft.com/en-us/linkedin/marketing/integrations/community-management/organizations/page-statistics?tabs=http&view=li-lms-unversioned).
paths:
  /organizationPageStatistics:
    get:
      tags:
      - Use Cases > Statistics APIs > Organization Page Statistics
      summary: LinkedIn Lifetime Page Statistics
      parameters:
      - name: X-Restli-Protocol-Version
        in: header
        schema:
          type: string
        example: 2.0.0
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: q
        in: query
        schema:
          type: string
        example: organization
      - name: organization
        in: query
        schema:
          type: string
        example: urn%3Ali%3Aorganization%3A2414183
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getLifetimePageStatistics
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
components:
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
