openapi: 3.2.0
info:
  title: LinkedIn Recruiter System Connect Integration Configuration API
  description: 'The LinkedIn Recruiter System Connect (RSC) API enables partners to integrate their Applicant Tracking Systems (ATS) with LinkedIn Recruiter. This API supports:

    - Configuring customer middleware integrations - Syncing data from ATS to LinkedIn (jobs, candidates, applications) - Retrieving data from LinkedIn (exported candidates, InMail history) - Defining permissions via Access Control Lists (ACLs) - Managing synced data lifecycle

    For comprehensive documentation, visit the [RSC Documentation](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/).'
  version: 1.0.0
  contact:
    name: LinkedIn Talent Solutions
    url: https://docs.microsoft.com/en-us/linkedin/talent/
servers:
- url: https://api.linkedin.com
  description: LinkedIn Production API Server
- url: https://www.linkedin.com
  description: LinkedIn OAuth Server
security:
- BearerAuth: []
tags:
- name: Integration Configuration
  description: Configure and manage customer ATS integrations
paths:
  /v2/atsIntegrations:
    post:
      operationId: updateAtsIntegration
      tags:
      - Integration Configuration
      summary: LinkedIn Update Customer ATS Integration
      description: 'Updates customer ATS integration settings including CSA_API, ONE_CLICK_EXPORT, IN_ATS_INDICATOR, and PROFILE_PLUGIN integrations.

        For more information, refer to the [RSC Customer Configuration documentation](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request).'
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - $ref: '#/components/parameters/RestliMethodHeader'
      - $ref: '#/components/parameters/ContentTypeHeader'
      - name: ids[0].integrationContext
        in: query
        required: true
        schema:
          type: string
        example: urn:li:contract:12345
      - name: ids[0].integrationType
        in: query
        required: true
        schema:
          type: string
          enum:
          - CSA_API
          - ONE_CLICK_EXPORT
          - IN_ATS_INDICATOR
          - PROFILE_PLUGIN
        example: CSA_API
      - name: ids[0].tenantType
        in: query
        required: true
        schema:
          type: string
        example: RECRUITER
      - name: ids[0].dataProvider
        in: query
        required: true
        schema:
          type: string
        example: ATS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtsIntegrationUpdateRequest'
      responses:
        '200':
          description: Successfully updated integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/SuccessResponseExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: getIntegrationNotification
      tags:
      - Integration Configuration
      summary: LinkedIn Get Integration Status Change Notification
      description: 'Retrieves details about integration status changes when a customer enables or modifies an integration.

        For more information, refer to the [Verify Customer Integrations documentation](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#5-verify-customer-integrations-enablement).'
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - $ref: '#/components/parameters/QueryTypeParameter'
      - $ref: '#/components/parameters/RequestIdParameter'
      responses:
        '200':
          description: Successfully retrieved notification details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          description: Notification not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        serviceErrorCode:
          type: integer
          example: 100
    AtsIntegrationUpdateRequest:
      type: object
      description: Request for updating ATS integrations
      properties:
        entities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationPatch'
    IntegrationPatch:
      type: object
      properties:
        patch:
          type: object
          properties:
            $set:
              type: object
              properties:
                integrationName:
                  type: string
                  example: Customer Name LinkedIn Recruiter CSA_API Integration
    SuccessResponse:
      type: object
      properties:
        status:
          type: string
          example: SUCCESS
  parameters:
    RestliMethodHeader:
      name: x-restli-method
      in: header
      required: true
      description: Rest.li method type
      schema:
        type: string
        enum:
        - batch_update
        - batch_partial_update
        - batch_create
      example: batch_update
    ContentTypeHeader:
      name: Content-Type
      in: header
      required: true
      description: Content type of request body
      schema:
        type: string
      example: application/json
    QueryTypeParameter:
      name: q
      in: query
      required: true
      description: Query type
      schema:
        type: string
      example: request
    RequestIdParameter:
      name: requestId
      in: query
      required: true
      description: Request ID from push notification
      schema:
        type: string
      example: req-12345-abcde
  examples:
    SuccessResponseExample:
      summary: Successful operation response
      value:
        status: SUCCESS
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer Token for API access
    OAuth2Auth:
      type: oauth2
      description: OAuth 2.0 authentication with 3-legged flow
      flows:
        authorizationCode:
          authorizationUrl: https://www.linkedin.com/oauth/v2/authorization
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            r_liteprofile: Read basic profile data
