openapi: 3.2.0
info:
  title: LinkedIn Sales Navigator Sales Access Tokens API
  description: API for accessing LinkedIn Sales Navigator features including sales contracts, analytics export jobs, access tokens, profile associations, and CRM data validation.
  version: 1.0.0
  contact:
    name: LinkedIn API Support
    url: https://docs.microsoft.com/en-us/linkedin/sales/
servers:
- url: https://api.linkedin.com/v2
  description: LinkedIn Production API Server
security:
- BearerAuth: []
tags:
- name: Sales Access Tokens
  description: Retrieve sales access tokens for authenticated iframe sessions
paths:
  /salesAccessTokens:
    get:
      tags:
      - Sales Access Tokens
      summary: LinkedIn Retrieve Sales Access Token for Authenticated Iframe Sessions
      description: Get a short-lived, limited-scope OAuth token for authenticated iframe sessions.
      operationId: getSalesAccessToken
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
          enum:
          - viewerAndDeveloperApp
        description: Query parameter for retrieving a Sales Access Token
        example: viewerAndDeveloperApp
      responses:
        '200':
          description: A list of Sales Access Tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesAccessTokenResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/SalesAccessTokenResponseExample'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Error message
          example: Invalid request parameters
        code:
          type: string
          description: Error code
          example: INVALID_PARAMS
    SalesAccessToken:
      type: object
      properties:
        token:
          type: string
          description: Short-lived, limited-scope OAuth token
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        expiryTime:
          type: integer
          description: Time at which this token will become invalid (seconds since epoch)
          example: 1640100000
      required:
      - token
      - expiryTime
    Paging:
      type: object
      properties:
        count:
          type: integer
          example: 10
        start:
          type: integer
          example: 0
        links:
          type: array
          items:
            type: string
    SalesAccessTokenResponse:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/SalesAccessToken'
        paging:
          $ref: '#/components/schemas/Paging'
  examples:
    SalesAccessTokenResponseExample:
      summary: Sales access token response
      value:
        elements:
        - token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
          expiryTime: 1640100000
        paging:
          count: 1
          start: 0
          links: []
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
