openapi: 3.2.0
info:
  title: Content Use Cases > Spotlight Ad API
  description: 'Please note that these are versioned set of APIs and they are different than the earlier one.


    These must be used with the **content-api-env-versioning** environment.


    Content APIs are the APIs that are published with the versioned release. These APIs bring capabilities to partners/developers to create rich content via LinkedIn Ads with minimal operational and technical overhead.


    **You must apply for access to the Marketing Developer Platform in order to use these APIs. See the** [**Developer Portal**](https://developer.linkedin.com/product-catalog/marketing/campaign-management) **on how to apply.**'
  version: 1.0.0
servers:
- url: https://api.linkedin.com
  description: LinkedIn Marketing API Production Server
security:
- oauth2Auth: []
tags:
- name: Use Cases > Spotlight Ad
  description: 'Spotlight Ads allow you to showcase your product, service, event, content, and more. Upon clicking your Ad, you navigate to the website or landing page of your choice. Learn more about [Spotlight Ads](https://www.linkedin.com/help/lms/answer/a420806).


    ##'
paths:
  /creatives:
    post:
      tags:
      - Use Cases > Spotlight Ad
      summary: LinkedIn Create a Dynamic Spotlight Ad
      description: 'Creates a Dynamic Spotlight Ad Creative.


        A successful response returns a `201 Created HTTP` status code and the ID in the `x-linkedin-id` response header. For example, `urn:li:sponsoredCreative:123456789`


        ##'
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateADynamicSpotlightRequest'
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postCreateADynamicSpotlight
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /creatives/{sponsoredCreative-urn}:
    get:
      tags:
      - Use Cases > Spotlight Ad
      summary: LinkedIn Get a Dynamic Spotlight Ad
      description: "Retrives a Dynamic Spotlight Ad.\n\n#### Sample Response\n\nJSONCopy\n\n```\n{\n    \"servingHoldReasons\": [\n        \"UNDER_REVIEW\",\n        \"CAMPAIGN_STOPPED\"\n    ],\n    \"lastModifiedAt\": 1648512200000,\n    \"lastModifiedBy\": \"urn:li:member:123\",\n    \"content\": {\n        \"spotlight\": {\n            \"organizationName\": \"LinkedIn Demo\",\n            \"showMemberProfilePhoto\": true,\n            \"landingPage\": \"http://linkedin.com\",\n            \"description\": \"Check out this demo\",\n            \"logo\": \"urn:li:image:abc\",\n            \"headline\": \"Spotlight Ad Demo\",\n            \"callToAction\": \"Join Us Now\"\n        }\n    },\n    \"createdAt\": 1648512200000,\n    \"createdBy\": \"urn:li:member:123\",\n    \"isTest\": false,\n    \"review\": {\n        \"status\": \"PENDING\"\n    },\n    \"isServing\": false,\n    \"campaign\": \"urn:li:sponsoredCampaign:123\",\n    \"id\": \"urn:li:sponsoredCreative:123456789\",\n    \"intendedStatus\": \"ACTIVE\",\n    \"account\": \"urn:li:sponsoredAccount:123\"\n}\n```\n\n##"
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: sponsoredCreative-urn
        in: path
        schema:
          type: string
        required: true
        example: urn:li:organization:123456
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getGetADynamicSpotlight
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
    post:
      tags:
      - Use Cases > Spotlight Ad
      summary: LinkedIn Update a Dynamic Spotlight Ad
      description: "## Update a Dynamic Spotlight Ad Creative\n\n\\*   [http](https://docs.microsoft.com/en-us/linkedin/marketing/integrations/ads/advertising-targeting/version/spotlight-ads?view=li-lms-2022-08&tabs=http#tabpanel_3_http)\n\\*   [curl](https://docs.microsoft.com/en-us/linkedin/marketing/integrations/ads/advertising-targeting/version/spotlight-ads?view=li-lms-2022-08&tabs=http#tabpanel_3_curl)\n    \n\nHTTPCopy\n\n```\nPOST https://api.linkedin.com/rest/creatives/{sponsoredCreative-urn}\n\n```\n\nJSONCopy\n\n```\n{\n    \"patch\": {\n        \"$set\": {\n            \"content\": {\n                \"spotlight\": {\n                    \"callToAction\": \"New Action\",\n                    \"description\": \"New Description\",\n                    \"headline\": \"New Headline\",\n                    \"landingPage\": \"http://example.com\",                       \n                    \"organizationName\": \"New Organization Name\",\n                    \"logo\": \"urn:li:image:def\",\n                    \"showMemberProfilePhoto\": false\n                }\n            }\n        }\n    }\n}\n\n```\n\nA successful response returns a `204 No Content`."
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateADynamicSpotlightRequest'
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: sponsoredCreative-urn
        in: path
        schema:
          type: string
        required: true
        example: urn:li:organization:123456
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postUpdateADynamicSpotlight
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
    delete:
      tags:
      - Use Cases > Spotlight Ad
      summary: LinkedIn Delete a Dynamic Spotlight Ad
      description: "## Delete a Dynamic Spotlight Ad Creative\n\n\\*   [http](https://docs.microsoft.com/en-us/linkedin/marketing/integrations/ads/advertising-targeting/version/spotlight-ads?view=li-lms-2022-08&tabs=http#tabpanel_4_http)\n\\*   [curl](https://docs.microsoft.com/en-us/linkedin/marketing/integrations/ads/advertising-targeting/version/spotlight-ads?view=li-lms-2022-08&tabs=http#tabpanel_4_curl)\n    \n\nHTTPCopy\n\n```\nDELETE https://api.linkedin.com/rest/creatives/{sponsoredCreative-urn}\n\n```\n\nA successful response returns a `204 No Content`."
      parameters:
      - name: LinkedIn-Version
        in: header
        schema:
          type: string
        example: '{{insert_version}}'
      - name: sponsoredCreative-urn
        in: path
        schema:
          type: string
        required: true
        example: urn:li:organization:123456
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: deleteDeleteADynamicSpotlight
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
components:
  schemas:
    CreateADynamicSpotlightRequest:
      type: string
      example: '"{\n    \"content\": {\n        \"spotlight\": {\n            \"callToAction\": \"Join Us Now\",\n            \"description\": \"Check out this demo\",\n            \"headline\": \"Spotlight Ad Demo\",\n            \"landingPage\": \"http://www.linkedin.com\",\n            \"logo\": \"urn:li:image:abc\",\n            \"organizationName\": \"LinkedIn Demo\",\n            \"showMemberProfilePhoto\": true\n        }\n     },\n     \"campaign\": \"urn:li:sponsoredCampaign:123\",\n     \"intendedStatus\": \"ACTIVE\"\n}\n"'
    UpdateADynamicSpotlightRequest:
      type: string
      example: '"{\n    \"patch\": {\n        \"$set\": {\n            \"content\": {\n                \"spotlight\": {\n        \"callToAction\": \"New Action\",\n        \"description\": \"New Description\",\n        \"headline\": \"New Headline\",\n        \"landingPage\": \"http://example.com\",                       \n                    \"organizationName\": \"New Organization Name\",\n                    \"logo\": \"urn:li:image:def\",\n\t        \"showMemberProfilePhoto\": false\n                }\n            }\n        }\n    }\n}\n"'
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
