openapi: 3.0.0
info:
  title: Pages Data Portability
  description: >-
    See our [online
    documentation](https://learn.microsoft.com/en-us/linkedin/dma/) to learn
    more about getting access and view API documentation.
  version: 1.0.0
servers:
  - url: https://api.linkedin.com
  - url: http://{{baseurl}}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
tags:
  - name: Pages
  - name: Pages > Organizations
  - name: Pages > OrganizationACLs
  - name: Pages > OrganizationAuthorization
  - name: Pages > OrganizationSearchAppearance
  - name: Pages > OrganizationalPageContentAnalytics
  - name: Pages > OrganizationalPageContentAnalytics > trend FINDER
  - name: Pages > OrganizationalPageContentAnalytics > postGestures FINDER
  - name: Pages > OrganizationalPageContentAnalytics > postDimension FINDER
  - name: Pages > OrganizationalPageEmailDomainMapping
  - name: Pages > OrganizationalPageFollows
  - name: Pages > OrganizationalPageEdgeAnalytics
  - name: Pages > OrganizationalProducts
  - name: Pages > PagesFeaturedContentGroups
  - name: Pages > OrganizationalPageProfiles
  - name: Pages > PageMessagingMessages
  - name: Pages > PageMessagingThreads
  - name: Pages > EmployeeBroadcastAnalytics
  - name: Pages > EmployeeBroadcastHighlights
  - name: Pages > EmployeeBroadcastAudienceTimeSeriesAnalytics
  - name: Pages > EmployeeBroadcastAudienceDemographics
  - name: Pages > OrganizationLookup
  - name: Pages > OrganizationalPageNotifications
  - name: Events
  - name: Events > Events
  - name: Events > EventRoleAssignments
  - name: Events > LiveVideo
  - name: Events > ViewerCountAnalytics
  - name: LeadGen
  - name: LeadGen > LeadGen
  - name: LeadGen > LeadGenResponse FINDER
  - name: LeadGen > LeadAnalytics FINDER
  - name: TalentAttraction
  - name: TalentAttraction > CareerPageSettings
  - name: TalentAttraction > TalentBrandAnalyticSummaries
  - name: TalentAttraction > OrganizationCommitment
  - name: TalentAttraction > OrganizationWorkplacePolicies WIP
  - name: TalentAttraction > OrganizationLifePageTrafficStatistics
  - name: TalentAttraction > OrganizationTargetedContents
  - name: TalentAttraction > OrganizationRelationshipStatistics
  - name: TalentAttraction > OrganizationPhotos
  - name: Feed
  - name: Feed > Posts
  - name: Feed > Posts > With person urn (opted-in)
  - name: Feed > Posts > With person urn (opted-in) > as Organization
  - name: Feed > Posts > Without person urn (opted-out)
  - name: Feed > Posts > Without person urn (opted-out) > as Organization
  - name: Feed > Reactions
  - name: Feed > Reactions > With person urn (opted-in)
  - name: Feed > Reactions > With person urn (opted-in) > incl. personUrn
  - name: Feed > Reactions > With person urn (opted-in) > incl. organizationUrn
  - name: Feed > Reactions > Without person urn (opted-out)
  - name: Feed > Reactions > Without person urn (opted-out) > incl. personUrn
  - name: Feed > Reactions > Without person urn (opted-out) > incl. organizationUrn
  - name: Feed > Comments
  - name: Feed > Comments > With person urn (opted-in)
  - name: Feed > Comments > With person urn (opted-in) > as User
  - name: Feed > Comments > With person urn (opted-in) > as Organization
  - name: Feed > Comments > Without person urn (opted-out)
  - name: Feed > Comments > Without person urn (opted-out) > as User
  - name: Feed > Comments > Without person urn (opted-out) > as Organization
  - name: Feed > IngestedContentSummaries
  - name: Feed > InstantReposts
  - name: Feed > InstantReposts > With person urn (opted-in)
  - name: Feed > InstantReposts > With person urn (opted-in) > organization
  - name: Feed > InstantReposts > Without person urn (opted-out)
  - name: Feed > InstantReposts > Without person urn (opted-out) > organization
  - name: Feed > SocialMetadata
  - name: Feed > SocialMetadata > Page Copy
  - name: Feed > ContentPublicUrl
  - name: Feed > Activities
  - name: Feed > Activities > With person urn (opted-in)
  - name: Feed > Activities > Without person urn (opted-out)
  - name: Feed > Activities > Member opted-in
  - name: Feed > Activities > Member opted-out
  - name: Taxonomy
  - name: Taxonomy > ProductCategories
  - name: Taxonomy > FeaturedCommitmentTaxonomyVersions
  - name: Taxonomy > BenefitTaxonomyVersions
  - name: Taxonomy > Degrees
  - name: Taxonomy > FieldsOfStudy
  - name: Taxonomy > Functions
  - name: Taxonomy > Geo
  - name: Taxonomy > Skills
  - name: Taxonomy > StandardizedIndustries
  - name: Taxonomy > StandardizedSeniorities
  - name: Taxonomy > Titles
  - name: Taxonomy > SuperTitles
  - name: CreatorAnalytics
  - name: CreatorAnalytics > CreatorAnalytics FINDER
  - name: Publishing
  - name: Publishing > OriginalArticles
  - name: Publishing > ContentSeries
  - name: Publishing > SeriesSubscribers
  - name: Identity
  - name: Identity > People
  - name: Identity > Me
  - name: Business Manager
  - name: Trusted Graphs
  - name: Trusted Graphs > VerificationAgents
paths:
  /rest/dmaOrganizations:
    get:
      tags:
        - Pages > Organizations
      summary: dmaOrganizations BATCH_GET
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: ids
          in: query
          schema:
            type: string
          example: List(ID1, ID2)
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Sat, 16 Dec 2023 02:27:45 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lor1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYMl0MMi5Ut00ifo0eyig==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB84:s=O:r=O:a=O:p=O:g=3141:u=944:x=1:i=1702693664:t=1702767072:v=2:sig=AQF4LfKeXWFT-Zxxxve2ALAcvbtjo3JX"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB84:s=O:r=O:a=O:p=O:g=3141:u=944:x=1:i=1702693664:t=1702767072:v=2:sig=AQF4LfKeXWFT-Zxxxve2ALAcvbtjo3JX"
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  '10002687':
                    competitorOrganizationUrns:
                      - urn:li:organization:10667
                      - urn:li:organization:1441
                      - urn:li:organization:30846
                      - urn:li:organization:166373
                      - urn:li:organization:3290
                      - urn:li:organization:2003
                      - urn:li:organization:4914
                      - urn:li:organization:10438515
                      - urn:li:organization:10002683
                    description:
                      localized:
                        fr_FR: french tagline
                        en_US: Extra cool just became even cooler!
                      preferredLocale:
                        country: US
                        language: en
                    industriesV2:
                      - urn:li:industry:3132
                    callToAction:
                      active: true
                      redirectUrl: http://extracoolinc.com
                      ctaType: LEARN_MORE
                    alternativeNames: []
                    specialties:
                      - locale:
                          country: US
                          language: en
                        tags:
                          - Advertising
                          - Dog Walking
                          - Manufacturing
                    staffCountRange: SIZE_1001_TO_5000
                    localizedSpecialties:
                      - Advertising
                      - Dog Walking
                      - Manufacturing
                    organizationalPage: urn:li:organizationalPage:10002687
                    primaryOrganizationType: NONE
                    id: 10002687
                    localizedDescription: Extra cool just became even cooler!
                    autoCreated: false
                    logoV2:
                      cropped:
                        downloadUrl: >-
                          https://media.licdn.com/dms/image/D4E0BAQFRCP4ZM3mJDg/company-logo_400_400/0/1702644473600?e=1710979200&v=beta&t=3NJfmu5weUsKCaXI7kGNc36mGmxao0XOyEeQn3-O0OI
                        downloadUrlExpiresAt: 1710979200000
                        status: AVAILABLE
                      cropInfo:
                        x: 0
                        width: 0
                        'y': 0
                        height: 0
                      original:
                        downloadUrl: >-
                          https://media.licdn.com/dms/image/D4E0BAQFRCP4ZM3mJDg/company-logo_400_400/0/1702644473600?e=1710979200&v=beta&t=3NJfmu5weUsKCaXI7kGNc36mGmxao0XOyEeQn3-O0OI
                        downloadUrlExpiresAt: 1710979200000
                        status: AVAILABLE
                    vanityName: xtrakewl
                    settings:
                      employeeExperienceSettingsV2:
                        myCompanyEmployeeVerificationRequired: true
                        trendingContentVisibility: ALL_EMPLOYEES
                      premiumPageSettings:
                        enhancedCtaVisibility: true
                      adSetting: ALLOW_ADS
                    localizedName: Extra Cool Inc.
                    foundedOn:
                      year: 2001
                    created:
                      time: 1518028624160
                    localizedTagline: This is the tag line
                    organizationFieldStates:
                      websiteFieldState: OPT_OUT
                    lastModifiedByAdmin:
                      time: 1702644474447
                    primaryPhoneNumber:
                      number: '8001231234'
                    coverPhotoV2:
                      cropped:
                        downloadUrl: >-
                          https://media.licdn.com/dms/image/D4E3DAQHc9_5aru_NrQ/image-scale_191_1128/0/1702581507468/xtrakewl_cover?e=1703300400&v=beta&t=vAjkBA-3MryiItt9S2zksWDePmdEPTCW__nI6ijxFG4
                        downloadUrlExpiresAt: 1703300400000
                        status: AVAILABLE
                      cropInfo:
                        x: 0
                        width: 1128
                        'y': 0
                        height: 191
                      original:
                        downloadUrl: >-
                          https://media.licdn.com/dms/image/D4E1BAQHwFgWHZDssLQ/company-background_10000/0/1702581509012/xtrakewl_cover?e=1703300400&v=beta&t=aHzhnbQnJVUih1S9RLZx2arq3MU-Sx7NSU5vWlQdygI
                        downloadUrlExpiresAt: 1703300400000
                        status: AVAILABLE
                    defaultLocale:
                      country: US
                      language: en
                    organizationType: PRIVATELY_HELD
                    leadGenFormEntryPoint:
                      visible: true
                      ctaType: CONTACT_SALES
                      body: >-
                        Brownie oat cake sesame snaps jujubes cake apple pie. I
                        lovecake I love toffee chocolate cake I love jelly beans
                        gummi bears. Tiramisu tart chocolate liquorice croissant
                        sweet cotton candy powder
                      headline: Brownie oat cake sesame snaps jujubessssssssss
                      leadGenFormUrn: >-
                        urn:li:versionedLeadGenForm:(urn:li:leadGenForm:6907010202353188864,1)
                    entityStatus: ACTIVE
                    name:
                      localized:
                        en_US: Extra Cool Inc.
                      preferredLocale:
                        country: US
                        language: en
                    tagline:
                      localized:
                        en_US: This is the tag line
                      preferredLocale:
                        country: US
                        language: en
                    parentCareersUsed: false
                    locations:
                      - address:
                          geographicArea: California
                          country: US
                          city: Los Angeles
                          line1: 60000 Cool Blvd
                          postalCode: '90001'
                        geoLocation: urn:li:geo:101308755
                        staffCountRange: SIZE_1
                        description:
                          localized:
                            en_US: mine
                          preferredLocale:
                            country: US
                            language: en
                        locationType: HEADQUARTERS
                        localizedDescription: mine
                        streetAddressFieldState: UNSET_OPT_OUT
                    revenueRecords: []
                    lastModified:
                      time: 1702644474447
                statuses:
                  '1612748': 403
                  '10002687': 200
                errors:
                  '1612748':
                    code: FORBIDDEN
                    message: >-
                      Viewer don't have permission to the ADMIN_ONLY
                      VisibilityReduction for urn:li:organization:1612748
                    status: 403
  /rest/dmaOrganizations/{organizationId}:
    get:
      tags:
        - Pages > Organizations
      summary: dmaOrganizations GET
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: organizationId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Sat, 16 Dec 2023 02:26:52 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lor1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYMlz/knvDEIoZvH51xzA==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB84:s=O:r=O:a=O:p=O:g=3141:u=944:x=1:i=1702693611:t=1702767072:v=2:sig=AQHwMHK6TVwvkJkkJ_3E1ZJ29H4gLlbB"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB84:s=O:r=O:a=O:p=O:g=3141:u=944:x=1:i=1702693611:t=1702767072:v=2:sig=AQHwMHK6TVwvkJkkJ_3E1ZJ29H4gLlbB"
          content:
            application/json:
              schema:
                type: object
              example:
                competitorOrganizationUrns:
                  - urn:li:organization:10002687
                  - urn:li:organization:1612748
                  - urn:li:organization:1337
                  - urn:li:organization:2414183
                  - urn:li:organization:807257
                  - urn:li:organization:1879
                  - urn:li:organization:1028
                  - urn:li:organization:85355664
                description:
                  localized:
                    fr_FR: wee
                    en_US: |-
                      Extra Cool Sporting & Goods©™  😀
                      № 100
                  preferredLocale:
                    country: US
                    language: en
                industriesV2:
                  - urn:li:industry:33
                alternativeNames: []
                specialties:
                  - locale:
                      country: US
                      language: en
                    tags:
                      - Fun Things
                      - Owning Hats
                      - 'Adding Specialties '
                      - Naming Stuff
                      - Sporting Goods
                      - Sport Teams
                staffCountRange: SIZE_201_TO_500
                localizedSpecialties:
                  - Fun Things
                  - Owning Hats
                  - 'Adding Specialties '
                  - Naming Stuff
                  - Sporting Goods
                  - Sport Teams
                organizationalPage: urn:li:organizationalPage:10002683
                primaryOrganizationType: NONE
                id: 10002683
                localizedDescription: |-
                  Extra Cool Sporting & Goods©™  😀
                  № 100
                autoCreated: false
                localizedWebsite: https://example.com/cool
                logoV2:
                  cropped:
                    downloadUrl: >-
                      https://media.licdn.com/dms/image/C4E0BAQE7DrWA8fOzwA/company-logo_400_400/0/1634059344168/uape_all_around_super_cool_company_page_logo?e=1710979200&v=beta&t=8KvbNIPM9aiddzZBrlC49u1PPpcRLVXVVEe4tv0izkY
                    downloadUrlExpiresAt: 1710979200000
                    status: AVAILABLE
                  cropInfo:
                    x: 0
                    width: 0
                    'y': 0
                    height: 0
                  original:
                    downloadUrl: >-
                      https://media.licdn.com/dms/image/C4E0BAQE7DrWA8fOzwA/company-logo_400_400/0/1634059344168/uape_all_around_super_cool_company_page_logo?e=1710979200&v=beta&t=8KvbNIPM9aiddzZBrlC49u1PPpcRLVXVVEe4tv0izkY
                    downloadUrlExpiresAt: 1710979200000
                    status: AVAILABLE
                vanityName: uape-all-around-super-cool-company-page
                localizedName: UAPe All Around Super Cool Company Page
                website:
                  localized:
                    en_US: https://example.com/cool
                  preferredLocale:
                    country: US
                    language: en
                foundedOn:
                  year: 1901
                created:
                  time: 1518028433356
                localizedTagline: It's a bug not a feature!
                organizationFieldStates:
                  websiteFieldState: UNSET_OPT_OUT
                lastModifiedByAdmin:
                  time: 1701299511572
                coverPhotoV2:
                  cropped:
                    downloadUrl: >-
                      https://media.licdn.com/dms/image/C4E1BAQEwo0lzRTgwqg/company-background_10000/0/1634059306018/uape_all_around_super_cool_company_page_cover?e=1703300400&v=beta&t=qR0aToYAcY5SbKHa9OBmjKQUOPrOI5ob1hrPW7UFk0c
                    downloadUrlExpiresAt: 1703300400000
                    status: AVAILABLE
                  cropInfo:
                    x: 0
                    width: 1128
                    'y': 0
                    height: 191
                  original:
                    downloadUrl: >-
                      https://media.licdn.com/dms/image/C4E1BAQEwo0lzRTgwqg/company-background_10000/0/1634059306018/uape_all_around_super_cool_company_page_cover?e=1703300400&v=beta&t=qR0aToYAcY5SbKHa9OBmjKQUOPrOI5ob1hrPW7UFk0c
                    downloadUrlExpiresAt: 1703300400000
                    status: AVAILABLE
                defaultLocale:
                  country: US
                  language: en
                organizationType: PRIVATELY_HELD
                leadGenFormEntryPoint:
                  visible: true
                  ctaType: REQUEST_DEMO
                  body: bye bye d dfw3r2e. @@@@ddfdfd dfdf
                  headline: Some text for testing the headlines today.
                  leadGenFormUrn: >-
                    urn:li:versionedLeadGenForm:(urn:li:leadGenForm:6907116974288052224,1)
                entityStatus: ACTIVE
                name:
                  localized:
                    en_US: UAPe All Around Super Cool Company Page
                  preferredLocale:
                    country: US
                    language: en
                tagline:
                  localized:
                    en_US: It's a bug not a feature!
                  preferredLocale:
                    country: US
                    language: en
                parentCareersUsed: false
                locations:
                  - description:
                      localized:
                        en_US: LOM1
                      preferredLocale:
                        country: US
                        language: en
                    locationType: HEADQUARTERS
                    address:
                      geographicArea: Nebraska
                      country: US
                      city: Omaha
                      line1: 9101 Western Ave
                      postalCode: '68114'
                    localizedDescription: LOM1
                    streetAddressFieldState: UNSET_OPT_OUT
                    geoLocation: urn:li:geo:105139853
                  - locationType: OTHER
                    address:
                      geographicArea: CA
                      country: CA
                      city: Toronto
                      line1: 16 York St
                      postalCode: M5J 2Z2
                    streetAddressFieldState: UNSET_OPT_OUT
                    geoLocation: urn:li:geo:108528311
                revenueRecords: []
                lastModified:
                  time: 1701299511572
  /rest/dmaOrganizationAcls:
    get:
      tags:
        - Pages > OrganizationACLs
      summary: dmaOrganizationAcls FINDER roleAssignee
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: q
          in: query
          schema:
            type: string
          example: roleAssignee
        - name: role
          in: query
          schema:
            type: string
          example: (value:ADMINISTRATOR)
        - name: start
          in: query
          schema:
            type: integer
          example: '0'
        - name: count
          in: query
          schema:
            type: integer
          example: '5'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Fri, 17 Nov 2023 04:49:23 GMT
            X-Li-Fabric:
              schema:
                type: string
                example: prod-ltx1
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Source-Fabric:
              schema:
                type: string
                example: prod-lor1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lor1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYKUdwusHC/TncaHPU44g==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=TB84:s=T:r=T:a=T:p=T:g=3528:u=908:x=1:i=1700196562:t=1700197673:v=2:sig=AQGTkNFbw9sn8xiKbhPPSyM9aZoA98Fp"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=TB84:s=T:r=T:a=T:p=T:g=3528:u=908:x=1:i=1700196562:t=1700197673:v=2:sig=AQGTkNFbw9sn8xiKbhPPSyM9aZoA98Fp"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: dmaOrganizationAcls FINDER roleAssignee CURATOR
                  value:
                    paging:
                      start: 0
                      count: 100
                      links: []
                    elements:
                      - key:
                          organization: urn:li:organization:40889216
                          role: CURATOR
                        state: APPROVED
                      - key:
                          organization: urn:li:organization:19096789
                          role: CURATOR
                        state: APPROVED
                      - key:
                          organization: urn:li:organization:19060960
                          role: CURATOR
                        state: APPROVED
                      - key:
                          organization: urn:li:organization:19239806
                          role: CURATOR
                        state: APPROVED
                example-1:
                  summary: >-
                    dmaOrganizationAcls FINDER roleAssignee
                    CONTENT_ADMINISTRATOR
                  value:
                    paging:
                      start: 0
                      count: 10
                      links:
                        - type: application/json
                          rel: next
                          href: >-
                            /rest/dmaOrganizationAcls?q=roleAssignee&role=(value:CONTENT_ADMINISTRATOR)&start=10&count=10
                    elements:
                      - state: REVOKED
                        lastModified:
                          time: 1702502557037
                        key:
                          organization: urn:li:organization:10002683
                          role: CONTENT_ADMINISTRATOR
                        created:
                          time: 1670357381185
                      - state: REVOKED
                        lastModified:
                          time: 1701317525161
                        key:
                          organization: urn:li:organization:10002683
                          role: CONTENT_ADMINISTRATOR
                        created:
                          time: 1670357377968
                      - state: REVOKED
                        lastModified:
                          time: 1697227643731
                        key:
                          organization: urn:li:organization:10002687
                          role: CONTENT_ADMINISTRATOR
                        created:
                          time: 1650322742164
                      - state: APPROVED
                        lastModified:
                          time: 1691529179013
                        key:
                          organization: urn:li:organization:42692283
                          role: CONTENT_ADMINISTRATOR
                        created:
                          time: 1691529179013
                      - state: REVOKED
                        lastModified:
                          time: 1691455297614
                        key:
                          organization: urn:li:organization:89625314
                          role: CONTENT_ADMINISTRATOR
                        created:
                          time: 1679539322745
                      - state: REVOKED
                        lastModified:
                          time: 1685128604508
                        key:
                          organization: urn:li:organization:81901794
                          role: CONTENT_ADMINISTRATOR
                        created:
                          time: 1685127435785
                      - state: APPROVED
                        lastModified:
                          time: 1684968065877
                        key:
                          organization: urn:li:organization:10828153
                          role: CONTENT_ADMINISTRATOR
                        created:
                          time: 1684968065877
                      - state: REVOKED
                        lastModified:
                          time: 1683146401508
                        key:
                          organization: urn:li:organization:86291138
                          role: CONTENT_ADMINISTRATOR
                        created:
                          time: 1683045067937
                      - state: REVOKED
                        lastModified:
                          time: 1680060310428
                        key:
                          organization: urn:li:organization:2414183
                          role: CONTENT_ADMINISTRATOR
                        created:
                          time: 1679627611395
                      - state: REVOKED
                        lastModified:
                          time: 1679958256034
                        key:
                          organization: urn:li:organization:19239806
                          role: CONTENT_ADMINISTRATOR
                        created:
                          time: 1679543124814
                example-2:
                  summary: dmaOrganizationAcls FINDER roleAssignee ADMIN
                  value:
                    paging:
                      start: 0
                      count: 5
                      links:
                        - type: application/json
                          rel: next
                          href: >-
                            /rest/dmaOrganizationAcls?q=roleAssignee&role=(value:ADMINISTRATOR)&start=5&count=5
                    elements:
                      - state: APPROVED
                        lastModified:
                          time: 1702958405430
                        key:
                          organization: urn:li:organization:3811762
                          role: ADMINISTRATOR
                        created:
                          time: 1641573395592
                      - state: REVOKED
                        lastModified:
                          time: 1702958405380
                        key:
                          organization: urn:li:organization:3811762
                          role: ADMINISTRATOR
                        created:
                          time: 1591896277530
                      - state: APPROVED
                        lastModified:
                          time: 1702504271982
                        key:
                          organization: urn:li:organization:19060960
                          role: ADMINISTRATOR
                        created:
                          time: 1683926369264
                      - state: REVOKED
                        lastModified:
                          time: 1702502961719
                        key:
                          organization: urn:li:organization:10828153
                          role: ADMINISTRATOR
                        created:
                          time: 1684968066261
                      - state: APPROVED
                        lastModified:
                          time: 1702502926864
                        key:
                          organization: urn:li:organization:40889216
                          role: ADMINISTRATOR
                        created:
                          time: 1694449193079
  /rest/dmaOrganizationAuthorizations:
    get:
      tags:
        - Pages > OrganizationAuthorization
      summary: dmaOrganizationAuthorizations BATCH_GET
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: ids
          in: query
          schema:
            type: string
          example: >-
            List((action:(organizationRoleAuthorizationAction:(actionType:ADMINISTRATOR_READ)),organization:{{organization_id}},impersonation:(subject:(value:(member:{{personUrn}})))),(action:(organizationRoleAuthorizationAction:(actionType:ADMINISTRATOR_WRITE)),organization:{{organization_id}},impersonation:(subject:(value:(member:{{personUrn}})))))
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Sat, 16 Dec 2023 02:48:26 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lor1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYMl4zg36wlLKnRFLlcqw==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB84:s=O:r=O:a=O:p=O:g=3141:u=944:x=1:i=1702694903:t=1702767072:v=2:sig=AQEyhHnaA4tjMFSDrBUglfVTwCFq1dSw"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB84:s=O:r=O:a=O:p=O:g=3141:u=944:x=1:i=1702694903:t=1702767072:v=2:sig=AQEyhHnaA4tjMFSDrBUglfVTwCFq1dSw"
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  (action:(organizationRoleAuthorizationAction:(actionType:ADMINISTRATOR_READ)),impersonation:(scope:(value:()),subject:(value:(member:urn%3Ali%3Aperson%3AsyabJjcceP))),organization:urn%3Ali%3Aorganization%3A10002683):
                    action:
                      organizationRoleAuthorizationAction:
                        actionType: ADMINISTRATOR_READ
                    impersonation:
                      subject:
                        value:
                          member: urn:li:person:syabJjcceP
                      scope:
                        value: {}
                    status:
                      denied:
                        reasons:
                          - >-
                            MEMBER_HAS_INSUFFICIENT_PERMISSIONS_IN_ACCESS_CONTROL
                    organization: urn:li:organization:10002683
                  (action:(organizationRoleAuthorizationAction:(actionType:ADMINISTRATOR_WRITE)),impersonation:(scope:(value:()),subject:(value:(member:urn%3Ali%3Aperson%3AsyabJjcceP))),organization:urn%3Ali%3Aorganization%3A10002683):
                    action:
                      organizationRoleAuthorizationAction:
                        actionType: ADMINISTRATOR_WRITE
                    impersonation:
                      subject:
                        value:
                          member: urn:li:person:syabJjcceP
                      scope:
                        value: {}
                    status:
                      denied:
                        reasons:
                          - >-
                            MEMBER_HAS_INSUFFICIENT_PERMISSIONS_IN_ACCESS_CONTROL
                    organization: urn:li:organization:10002683
                statuses: {}
                errors: {}
  /rest/dmaOrganizationAuthorizations/(action:(organizationRoleAuthorizationAction:(actionType:ADMINISTRATOR_READ)),organization:{organization_id},impersonation:(subject:(value:(member:{personUrn})))):
    get:
      tags:
        - Pages > OrganizationAuthorization
      summary: dmaOrganizationAuthorizations GET
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: organization_id
          in: path
          schema:
            type: string
          required: true
        - name: personUrn
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Sat, 16 Dec 2023 02:48:53 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lor1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYMl46lJTb5vQdsgaTbLA==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB84:s=O:r=O:a=O:p=O:g=3141:u=944:x=1:i=1702694933:t=1702767072:v=2:sig=AQGK0evxpJCCRT54E4jXwIu1hwpRjBMv"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB84:s=O:r=O:a=O:p=O:g=3141:u=944:x=1:i=1702694933:t=1702767072:v=2:sig=AQGK0evxpJCCRT54E4jXwIu1hwpRjBMv"
          content:
            application/json:
              schema:
                type: object
              example:
                action:
                  organizationRoleAuthorizationAction:
                    actionType: ADMINISTRATOR_READ
                impersonation:
                  subject:
                    value:
                      member: urn:li:person:syabJjcceP
                  scope:
                    value: {}
                status:
                  denied:
                    reasons:
                      - MEMBER_HAS_INSUFFICIENT_PERMISSIONS_IN_ACCESS_CONTROL
                organization: urn:li:organization:10002683
  /rest/dmaOrganizationSearchAppearance:
    get:
      tags:
        - Pages > OrganizationSearchAppearance
      summary: dmaOrganizationSearchAppearance FINDER
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: q
          in: query
          schema:
            type: string
          example: organization
        - name: organization
          in: query
          schema:
            type: string
          example: '{{organization_id}}'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Wed, 20 Dec 2023 20:53:43 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lor1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYM9y2rnlgvnZTejuGKMA==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB84:s=O:r=O:a=O:p=O:g=3142:u=950:x=1:i=1703105622:t=1703116816:v=2:sig=AQFgkUt9RhbZqKat3w-7E2F56RaPvqJk"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB84:s=O:r=O:a=O:p=O:g=3142:u=950:x=1:i=1703105622:t=1703116816:v=2:sig=AQFgkUt9RhbZqKat3w-7E2F56RaPvqJk"
          content:
            application/json:
              schema:
                type: object
              example:
                paging:
                  start: 0
                  count: 10
                  links: []
                elements:
                  - totalCount: 41
                    percentChange: -16.32653
                    organization: urn:li:organization:10002687
  /rest/dmaOrganizationalPageContentAnalytics:
    get:
      tags:
        - Pages > OrganizationalPageContentAnalytics > postDimension FINDER
      summary: dmaOrganizationalPageContentAnalytics
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: q
          in: query
          schema:
            type: string
          example: postGestures
        - name: sourcePostEntity
          in: query
          schema:
            type: string
          example: urn%3Ali%3Ashare%3A7127373786307284993
        - name: metricType
          in: query
          schema:
            type: string
          example: COMMENTS
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            x-restli-protocol-version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Tue, 19 Dec 2023 21:43:16 GMT
            X-Li-Fabric:
              schema:
                type: string
                example: prod-ltx1
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Source-Fabric:
              schema:
                type: string
                example: prod-lor1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lor1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYM48ERU5ZyuisulkDmgw==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=TB84:s=T:r=T:a=T:p=T:g=3563:u=949:x=1:i=1703022196:t=1703026097:v=2:sig=AQGdo4C2OHKMrRcoL90zkiqbGvCVVLKR"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=TB84:s=T:r=T:a=T:p=T:g=3563:u=949:x=1:i=1703022196:t=1703026097:v=2:sig=AQGdo4C2OHKMrRcoL90zkiqbGvCVVLKR"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: dmaOrganizationalPageContentAnalytics REACTIONS
                  value:
                    paging:
                      start: 0
                      count: 10
                      links: []
                      total: 0
                    metadata: {}
                    elements:
                      - type: REACTIONS
                        gesture:
                          type: REACT_LIKE
                        sourceEntity: urn:li:share:7127373786307284993
                      - type: REACTIONS
                        gesture:
                          type: REACT_LIKE
                        sourceEntity: urn:li:share:7127373786307284993
                example-1:
                  summary: dmaOrganizationalPageContentAnalytics COMMENTS
                  value:
                    paging:
                      start: 0
                      count: 10
                      links: []
                      total: 0
                    metadata: {}
                    elements:
                      - type: COMMENTS
                        gesture:
                          type: COMMENT
                        sourceEntity: urn:li:share:7127373786307284993
  /rest/dmaOrganizationalPageEmailDomainMapping:
    get:
      tags:
        - Pages > OrganizationalPageEmailDomainMapping
      summary: Email Domain Mappings Resource GET
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: organizationalPageUrn
          in: query
          schema:
            type: string
          example: '{{organizationalPageUrn}}'
        - name: q
          in: query
          schema:
            type: string
          example: organizationalPageAndUseCase
        - name: start
          in: query
          schema:
            type: integer
          example: '0'
        - name: count
          in: query
          schema:
            type: integer
          example: '10'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            x-restli-protocol-version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Mon, 18 Dec 2023 05:32:58 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lor1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYMwhUg1xTFk8J9ynsing==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB84:s=O:r=O:a=O:p=O:g=3141:u=946:x=1:i=1702877577:t=1702947936:v=2:sig=AQF5J98FJUhxEDV45aJvr2OQ1y-_zfMY"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB84:s=O:r=O:a=O:p=O:g=3141:u=946:x=1:i=1702877577:t=1702947936:v=2:sig=AQF5J98FJUhxEDV45aJvr2OQ1y-_zfMY"
          content:
            application/json:
              schema:
                type: object
              example:
                paging:
                  start: 0
                  count: 10
                  links: []
                elements:
                  - verificationTier: LINKEDIN_VERIFIED
                    lastModified:
                      time: 1649102934968
                    emailVerificationDuration: 15552000000
                    key:
                      useCase: JOB_POSTING
                      emailDomain: extracoolinc.com
                      organizationalPageUrn: urn:li:organizationalPage:10002687
                    created:
                      time: 1649102934968
                  - verificationTier: ALLOW_LISTED
                    lastModified:
                      time: 1700269895159
                    key:
                      useCase: JOB_POSTING
                      emailDomain: youdabest.org
                      organizationalPageUrn: urn:li:organizationalPage:10002687
                    created:
                      time: 1700269895159
                  - verificationTier: ALLOW_LISTED
                    lastModified:
                      time: 1702418066293
                    key:
                      useCase: MY_COMPANY
                      emailDomain: potatocorner.com
                      organizationalPageUrn: urn:li:organizationalPage:10002687
                    created:
                      time: 1702418066293
                  - verificationTier: ALLOW_LISTED
                    lastModified:
                      time: 1700269895159
                    key:
                      useCase: MY_COMPANY
                      emailDomain: youdabest.org
                      organizationalPageUrn: urn:li:organizationalPage:10002687
                    created:
                      time: 1700269895159
                  - verificationTier: ALLOW_LISTED
                    lastModified:
                      time: 1702418066292
                    key:
                      useCase: JOB_POSTING
                      emailDomain: potatocorner.com
                      organizationalPageUrn: urn:li:organizationalPage:10002687
                    created:
                      time: 1702418066292
  /rest/dmaOrganizationalPageFollows:
    get:
      tags:
        - Pages > OrganizationalPageFollows
      summary: dmaOrganizationalPageFollows FINDER follower
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: follower
          in: query
          schema:
            type: string
          example: urn%3Ali%3AorganizationalPage%3A10002687
        - name: maxPaginationCount
          in: query
          schema:
            type: integer
          example: '4'
        - name: q
          in: query
          schema:
            type: string
          example: follower
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Wed, 20 Dec 2023 03:54:43 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lor1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYM6PF3gYgPflaNxfd4YQ==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB84:s=O:r=O:a=O:p=O:g=3142:u=950:x=1:i=1703044483:t=1703116816:v=2:sig=AQHKbQKOGUzoflIeXio49vt2_ViPW_us"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB84:s=O:r=O:a=O:p=O:g=3142:u=950:x=1:i=1703044483:t=1703116816:v=2:sig=AQHKbQKOGUzoflIeXio49vt2_ViPW_us"
          content:
            application/json:
              schema:
                type: object
              example:
                paging:
                  start: 0
                  count: 10
                  links: []
                  total: 4
                metadata:
                  nextPaginationCursor: NF9f
                elements:
                  - lastModifiedAt: 1695086290440
                    follower: urn:li:organizationalPage:2414183
                    followee: urn:li:organizationalPage:100027726
                    edgeType: ORGANIZATIONAL_PAGE_FOLLOWS_ORGANIZATIONAL_PAGE
                  - lastModifiedAt: 1692764600160
                    follower: urn:li:organizationalPage:2414183
                    followee: urn:li:organizationalPage:82856118
                    edgeType: ORGANIZATIONAL_PAGE_FOLLOWS_ORGANIZATIONAL_PAGE
                  - lastModifiedAt: 1691185264246
                    follower: urn:li:organizationalPage:2414183
                    followee: urn:li:organizationalPage:80858274
                    edgeType: ORGANIZATIONAL_PAGE_FOLLOWS_ORGANIZATIONAL_PAGE
                  - lastModifiedAt: 1689189255083
                    follower: urn:li:organizationalPage:2414183
                    followee: urn:li:organizationalPage:895858
                    edgeType: ORGANIZATIONAL_PAGE_FOLLOWS_ORGANIZATIONAL_PAGE
  /rest/dmaOrganizationalPageEdgeAnalytics:
    get:
      tags:
        - Pages > OrganizationalPageEdgeAnalytics
      summary: dmaOrganizationalPageEdgeAnalytics FINDER Visitor Dimension INDUSTRY
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: q
          in: query
          schema:
            type: string
          example: dimension
        - name: dimensionType
          in: query
          schema:
            type: string
          example: INDUSTRY
        - name: analyticsType
          in: query
          schema:
            type: string
          example: VISITOR
        - name: organizationalPage
          in: query
          schema:
            type: string
          example: '{{organizationalPageUrn}}'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            x-restli-protocol-version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Thu, 07 Dec 2023 21:04:55 GMT
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Source-Fabric:
              schema:
                type: string
                example: prod-ltx1
            X-Li-Pop:
              schema:
                type: string
                example: prod-ltx1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYL8dHRKrsGrz3Vms9Mmw==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB65:s=O:r=O:a=O:p=O:g=4574:u=1351:x=1:i=1701983095:t=1701986961:v=2:sig=AQF6FOve4BJZQQCvor6CM_E2jrKQAfYc"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB65:s=O:r=O:a=O:p=O:g=4574:u=1351:x=1:i=1701983095:t=1701986961:v=2:sig=AQF6FOve4BJZQQCvor6CM_E2jrKQAfYc"
          content:
            application/json:
              schema:
                type: object
              example:
                paging:
                  start: 0
                  count: 10
                  links: []
                  total: 0
                metadata: {}
                elements:
                  - type: VISITOR
                    value:
                      totalCount:
                        long: 31
                      typeSpecificValue:
                        visitorEdgeAnalyticsValue: {}
                    dimension:
                      type: INDUSTRY
                      value:
                        urn: urn:li:industry:4
                    organizationalPage: urn:li:organizationalPage:10002683
                  - type: VISITOR
                    value:
                      totalCount:
                        long: 31
                      typeSpecificValue:
                        visitorEdgeAnalyticsValue: {}
                    dimension:
                      type: INDUSTRY
                      value:
                        urn: urn:li:industry:96
                    organizationalPage: urn:li:organizationalPage:10002683
                  - type: VISITOR
                    value:
                      totalCount:
                        long: 27
                      typeSpecificValue:
                        visitorEdgeAnalyticsValue: {}
                    dimension:
                      type: INDUSTRY
                      value:
                        urn: urn:li:industry:6
                    organizationalPage: urn:li:organizationalPage:10002683
                  - type: VISITOR
                    value:
                      totalCount:
                        long: 10
                      typeSpecificValue:
                        visitorEdgeAnalyticsValue: {}
                    dimension:
                      type: INDUSTRY
                      value:
                        urn: urn:li:industry:80
                    organizationalPage: urn:li:organizationalPage:10002683
                  - type: VISITOR
                    value:
                      totalCount:
                        long: 10
                      typeSpecificValue:
                        visitorEdgeAnalyticsValue: {}
                    dimension:
                      type: INDUSTRY
                      value:
                        urn: urn:li:industry:43
                    organizationalPage: urn:li:organizationalPage:10002683
  /rest/dmaOrganizationProducts:
    get:
      tags:
        - Pages > OrganizationalProducts
      summary: dmaOrganizationProducts BATCH_GET
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: ids
          in: query
          schema:
            type: string
          example: List(1315691)
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Fri, 01 Dec 2023 18:15:52 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lor1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYLdsIoR9V1RRVX5N9efw==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB11:s=O:r=O:a=O:p=O:g=1348:u=520:x=1:i=1701454551:t=1701527206:v=2:sig=AQHm5TT1r82--cDNc2tgBJmhVzEbuGyZ"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB11:s=O:r=O:a=O:p=O:g=1348:u=520:x=1:i=1701454551:t=1701527206:v=2:sig=AQHm5TT1r82--cDNc2tgBJmhVzEbuGyZ"
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  '1315691':
                    vanityName: extra-cool-inc222-extra-cool-inc
                    website:
                      localized:
                        en_US: http://extracoolinc.com
                      preferredLocale:
                        country: US
                        language: en
                    organizationsUsingProduct:
                      - urn:li:organization:10002683
                    created:
                      time: 1675799552654
                    lastModifiedByAdmin:
                      time: 1701236642541
                    productCategoryAdminSuggestions:
                      suggestedCategories:
                        - localized:
                            en_US: Testing
                      similarProducts:
                        - productName:
                            localized:
                              en_US: extra
                        - productName:
                            localized:
                              en_US: testing
                        - productName:
                            localized:
                              en_US: testing 2
                      competingCompanies:
                        - urn:li:organization:19096789
                        - urn:li:organization:6462244
                        - urn:li:organization:85668521
                      keywordsAssociatedWithProduct:
                        - localized:
                            en_US: Extra 1
                        - localized:
                            en_US: Extra 2
                        - localized:
                            en_US: Extra 3
                    description:
                      localized:
                        fr_FR: oui
                        en_US: This is the product description I just edited 11/28/23
                      preferredLocale:
                        country: US
                        language: en
                    mediaSections: []
                    standardizedSkills: []
                    callToAction:
                      active: true
                      redirectUrl: http://extracoolinc.com
                      ctaType: LEARN_MORE
                    defaultLocale:
                      country: US
                      language: en
                    productCategories:
                      - urn:li:standardizedProductCategory:1258
                    productIntegrations:
                      - urn:li:standardizedProduct:5519
                      - urn:li:standardizedProduct:33628
                      - urn:li:standardizedProduct:1118440
                      - urn:li:standardizedProduct:1670474
                      - urn:li:standardizedProduct:18214
                      - urn:li:standardizedProduct:36120
                      - urn:li:standardizedProduct:1634081
                      - urn:li:standardizedProduct:8366
                      - urn:li:standardizedProduct:1312152
                      - urn:li:standardizedProduct:6517
                    organizationalPage: urn:li:organizationalPage:10002687
                    organization: urn:li:organization:10002687
                    name:
                      localized:
                        fr_FR: Extra Cool Inc.
                        en_US: Extra Cool Inc.
                      preferredLocale:
                        country: US
                        language: en
                    rolesUsingProduct:
                      - urn:li:title:2611
                      - urn:li:title:8143
                      - urn:li:title:9
                    pendingClaimByAdmin: false
                    id: 1315691
                    state: FAILED_REVIEW
                    lastModified:
                      time: 1701236642541
                    logoV2:
                      downloadUrl: >-
                        https://media.licdn.com/dms/image/D4E0BAQHTg0hgqZku0w/company-logo_400_400/0/1697675812611/xtrakewl_logo?e=1709769600&v=beta&t=IhH1f_6VqfFHCmTSetmoKr2rpM9EP0SFY-E-aj3CEUk
                      downloadUrlExpiresAt: 1709769600000
                      status: AVAILABLE
                statuses: {}
                errors: {}
  /rest/dmaOrganizationProducts/1315691:
    get:
      tags:
        - Pages > OrganizationalProducts
      summary: dmaOrganizationProducts GET
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Sat, 16 Dec 2023 03:51:38 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lor1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYMmG8Ng/LbbGFFhMHD9A==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB84:s=O:r=O:a=O:p=O:g=3141:u=944:x=1:i=1702698697:t=1702767072:v=2:sig=AQFTLdZxmflmFGQzLttvwBfSUk8BIsj6"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB84:s=O:r=O:a=O:p=O:g=3141:u=944:x=1:i=1702698697:t=1702767072:v=2:sig=AQFTLdZxmflmFGQzLttvwBfSUk8BIsj6"
          content:
            application/json:
              schema:
                type: object
              example:
                vanityName: xtrakewl-extra-cool-inc
                organizationsUsingProduct:
                  - urn:li:organization:10002683
                created:
                  time: 1675799552654
                lastModifiedByAdmin:
                  time: 1701236642541
                productCategoryAdminSuggestions:
                  suggestedCategories:
                    - localized:
                        en_US: Testing
                  similarProducts:
                    - productName:
                        localized:
                          en_US: extra
                    - productName:
                        localized:
                          en_US: testing
                    - productName:
                        localized:
                          en_US: testing 2
                  competingCompanies:
                    - urn:li:organization:19096789
                    - urn:li:organization:6462244
                    - urn:li:organization:85668521
                  keywordsAssociatedWithProduct:
                    - localized:
                        en_US: Extra 1
                    - localized:
                        en_US: Extra 2
                    - localized:
                        en_US: Extra 3
                description:
                  localized:
                    fr_FR: oui
                    en_US: This is the product description I just edited 11/28/23
                  preferredLocale:
                    country: US
                    language: en
                mediaSections: []
                standardizedSkills: []
                callToAction:
                  active: true
                  redirectUrl: http://extracoolinc.com
                  ctaType: LEARN_MORE
                defaultLocale:
                  country: US
                  language: en
                productCategories:
                  - urn:li:standardizedProductCategory:1258
                productIntegrations:
                  - urn:li:standardizedProduct:5519
                  - urn:li:standardizedProduct:33628
                  - urn:li:standardizedProduct:1118440
                  - urn:li:standardizedProduct:1670474
                  - urn:li:standardizedProduct:18214
                  - urn:li:standardizedProduct:36120
                  - urn:li:standardizedProduct:1634081
                  - urn:li:standardizedProduct:8366
                  - urn:li:standardizedProduct:1312152
                  - urn:li:standardizedProduct:6517
                organizationalPage: urn:li:organizationalPage:10002687
                organization: urn:li:organization:10002687
                name:
                  localized:
                    en_US: Extra Cool Inc.
                  preferredLocale:
                    country: US
                    language: en
                rolesUsingProduct:
                  - urn:li:title:2611
                  - urn:li:title:8143
                  - urn:li:title:9
                pendingClaimByAdmin: false
                id: 1315691
                state: FAILED_REVIEW
                lastModified:
                  time: 1701236642541
                logoV2:
                  downloadUrl: >-
                    https://media.licdn.com/dms/image/D4E0BAQFRCP4ZM3mJDg/company-logo_400_400/0/1702644473600?e=1710979200&v=beta&t=3NJfmu5weUsKCaXI7kGNc36mGmxao0XOyEeQn3-O0OI
                  downloadUrlExpiresAt: 1710979200000
                  status: AVAILABLE
  /rest/dmaPagesFeaturedContentGroups/(page:urn:li:organizationalPage:2414183,topic:ORGANIZATION_HOME):
    get:
      tags:
        - Pages > PagesFeaturedContentGroups
      summary: dmaPagesFeaturedContentGroups GET
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Wed, 20 Dec 2023 04:45:17 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lor1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYM6aZQDJ0NXFlkAjpkkw==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB84:s=O:r=O:a=O:p=O:g=3142:u=950:x=1:i=1703047517:t=1703116816:v=2:sig=AQECxwDnwXMD9ZHBEPXF3WFWjjaQEQLF"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB84:s=O:r=O:a=O:p=O:g=3142:u=950:x=1:i=1703047517:t=1703116816:v=2:sig=AQECxwDnwXMD9ZHBEPXF3WFWjjaQEQLF"
          content:
            application/json:
              schema:
                type: object
              example:
                lastModified:
                  time: 1702082783430
                key:
                  topic: ORGANIZATION_HOME
                  page: urn:li:organizationalPage:2414183
                created:
                  time: 1695074901509
                featuredContents:
                  - created:
                      time: 1702082783420
                    content:
                      pagesFeaturedPostContent:
                        post: urn:li:activity:7139030391012605952
                    lastModified:
                      time: 1702082783420
  /rest/dmaPagesFeaturedContentGroups:
    get:
      tags:
        - Pages > PagesFeaturedContentGroups
      summary: dmaPagesFeaturedContentGroups FINDER
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: organizationalPageUrn
          in: query
          schema:
            type: string
          example: urn%3Ali%3AorganizationalPage%3A2414183
        - name: q
          in: query
          schema:
            type: string
          example: page
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Wed, 20 Dec 2023 04:58:54 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lor1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYM6dcAG8Aoj7LQi881Ww==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB84:s=O:r=O:a=O:p=O:g=3142:u=950:x=1:i=1703048334:t=1703116816:v=2:sig=AQEN4qAeGzo0HMLdbUN96IcpxjEi2Pb1"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB84:s=O:r=O:a=O:p=O:g=3142:u=950:x=1:i=1703048334:t=1703116816:v=2:sig=AQEN4qAeGzo0HMLdbUN96IcpxjEi2Pb1"
          content:
            application/json:
              schema:
                type: object
              example:
                paging:
                  start: 0
                  count: 10
                  links: []
                elements:
                  - lastModified:
                      time: 1702082783430
                    key:
                      topic: ORGANIZATION_HOME
                      page: urn:li:organizationalPage:2414183
                    created:
                      time: 1695074901509
                    featuredContents:
                      - created:
                          time: 1702082783420
                        content:
                          pagesFeaturedPostContent:
                            post: urn:li:activity:7139030391012605952
                        lastModified:
                          time: 1702082783420
                  - lastModified:
                      actor: urn:li:person:_KLBfp21JR
                      time: 1701984214671
                    key:
                      topic: PRODUCT_HIGHLIGHTS
                      page: urn:li:organizationalPage:2414183
                    created:
                      actor: urn:li:person:_KLBfp21JR
                      time: 1701984214612
                    featuredContents:
                      - created:
                          actor: urn:li:person:_KLBfp21JR
                          time: 1701984214655
                        content:
                          pagesFeaturedPostContent:
                            post: urn:li:activity:7138323973246746625
                        lastModified:
                          actor: urn:li:person:_KLBfp21JR
                          time: 1701984214655
  /rest/dmaOrganizationalPageProfiles:
    get:
      tags:
        - Pages > OrganizationalPageProfiles
      summary: dmaOrganizationalPageProfiles BATCH_GET
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: ids
          in: query
          schema:
            type: string
          example: >-
            List(urn%3Ali%3AorganizationalPage%3A2822321,{{organizationalPageUrn}})
        - name: locale
          in: query
          schema:
            type: string
          example: (language:us,country:EN)
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Fri, 08 Dec 2023 14:22:26 GMT
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lva1
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Source-Fabric:
              schema:
                type: string
                example: prod-ltx1
            X-Li-Pop:
              schema:
                type: string
                example: prod-ltx1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYMAFBD/ORdK5+i1Frp1g==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=VB65:s=V:r=V:a=V:p=V:g=4600:u=1352:x=1:i=1702045346:t=1702071663:v=2:sig=AQFa2elqfNh_r6PgohWZYmUasjGI7WMY"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=VB65:s=V:r=V:a=V:p=V:g=4600:u=1352:x=1:i=1702045346:t=1702071663:v=2:sig=AQFa2elqfNh_r6PgohWZYmUasjGI7WMY"
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  urn:li:organizationalPage:2822321:
                    vanityName: wizzeewig
                    localizedName: Wizee
                    created:
                      time: 1673648922752
                    description:
                      localized:
                        en_US: Sample description...test multi line test
                      preferredLocale:
                        country: US
                        language: en
                    primaryPageEntity:
                      organization: urn:li:organization:2822321
                    entityUrn: urn:li:organizationalPage:2822321
                    coverImageCropMetadata:
                      x: 0
                      width: 1536
                      'y': 253
                      height: 260
                    coverImage:
                      digitalmediaAsset:
                        downloadUrl: >-
                          https://media.licdn.com/dms/image/C561BAQG0-2dvRN2vdA/company-background_10000/0/1585360706893/wizzeewig_cover?e=1702652400&v=beta&t=sXAU8HZXoSKwHGymrENq03HM-j2hf75Jc7U--T7PAi4
                        downloadUrlExpiresAt: 1702652400000
                        status: AVAILABLE
                      artifacts:
                        - width: 1536
                          fileIdentifyingUrlPathSegment: >-
                            10000/0/1585360706893/wizzeewig_cover?e=1702652400&v=beta&t=sXAU8HZXoSKwHGymrENq03HM-j2hf75Jc7U--T7PAi4
                          height: 768
                        - width: 400
                          fileIdentifyingUrlPathSegment: >-
                            400/0/1585360706931/wizzeewig_cover?e=1702652400&v=beta&t=t08-38LPfv_osq8xViOvAySmb8qJVH4VuMOAYov6TAc
                          height: 200
                        - width: 200
                          fileIdentifyingUrlPathSegment: >-
                            200/0/1585360706963/wizzeewig_cover?e=1702652400&v=beta&t=3y-_2otNHGMqnIh6PCSlXMrjM8en0J4izyodpPq7L2U
                          height: 100
                    name:
                      localized:
                        it_IT: WizeeWig
                        zh_TW: WizzeeWig China ltd
                        ro_RO: WizzeeWig
                        en_US: Wizee
                        tr_TR: ИНТЕРПАЙП lll
                        zh_CN: Wizzee renamed
                        es_ES: WizeeWig 2
                        fr_FR: ty
                        ja_JP: WizzeeWig renamed 日本
                        in_ID: WizeWag
                        de_DE: WizzeeWig renamed dutch
                      preferredLocale:
                        country: US
                        language: en
                    logo:
                      digitalmediaAsset:
                        downloadUrl: >-
                          https://media.licdn.com/dms/image/D4D0BAQHBWDsV13cZaw/company-logo_400_400/0/1666816937148/wizzeewig_logo?e=1710374400&v=beta&t=JhG4vFWcTX2Q5Ld2FC5buEAUkhJGfT0_MJeJXk_Xw7I
                        downloadUrlExpiresAt: 1710374400000
                        status: AVAILABLE
                      artifacts:
                        - width: 200
                          fileIdentifyingUrlPathSegment: >-
                            200_200/0/1666816937148/wizzeewig_logo?e=1710374400&v=beta&t=LzUzKQdLRj-MOEmZXEKgfWn5MR_e877j3vlpjEeqAjg
                          height: 200
                        - width: 100
                          fileIdentifyingUrlPathSegment: >-
                            100_100/0/1666816937148/wizzeewig_logo?e=1710374400&v=beta&t=kEB98vcrD5rciMRINdB60h2BaChqdAZFU8H2-UTZxek
                          height: 100
                        - width: 400
                          fileIdentifyingUrlPathSegment: >-
                            400_400/0/1666816937148/wizzeewig_logo?e=1710374400&v=beta&t=JhG4vFWcTX2Q5Ld2FC5buEAUkhJGfT0_MJeJXk_Xw7I
                          height: 400
                    pageUrl: https://www.linkedin.com/company/wizzeewig/
                    lastModified:
                      time: 1673648922752
                    pageProfileEntity:
                      combinedOrganizationProductPage:
                        organizationEntity:
                          company: urn:li:organization:2822321
                        standardizedProduct: urn:li:standardizedProduct:1872081
                        memberExperienceViewableState: ORGANIZATION
                    localizedDescription: Sample description...test multi line test
                  urn:li:organizationalPage:10002683:
                    vanityName: uape-all-around-super-cool-company-page
                    localizedName: UAPe All Around Super Cool Company Page
                    created:
                      time: 1679986938986
                    description:
                      localized:
                        fr_FR: wee
                        en_US: |-
                          Extra Cool Sporting & Goods©™  😀
                          № 100
                      preferredLocale:
                        country: US
                        language: en
                    primaryPageEntity:
                      organization: urn:li:organization:10002683
                    entityUrn: urn:li:organizationalPage:10002683
                    coverImageCropMetadata:
                      x: 0
                      width: 1128
                      'y': 0
                      height: 191
                    coverImage:
                      digitalmediaAsset:
                        downloadUrl: >-
                          https://media.licdn.com/dms/image/C4E1BAQEwo0lzRTgwqg/company-background_10000/0/1634059306018/uape_all_around_super_cool_company_page_cover?e=1702652400&v=beta&t=9vEdrORMkgCSdqcAyDJqcGYrGN7t2tSOEQusmWOrYsE
                        downloadUrlExpiresAt: 1702652400000
                        status: AVAILABLE
                      artifacts:
                        - width: 1128
                          fileIdentifyingUrlPathSegment: >-
                            10000/0/1634059306018/uape_all_around_super_cool_company_page_cover?e=1702652400&v=beta&t=9vEdrORMkgCSdqcAyDJqcGYrGN7t2tSOEQusmWOrYsE
                          height: 191
                        - width: 400
                          fileIdentifyingUrlPathSegment: >-
                            400/0/1634059306018/uape_all_around_super_cool_company_page_cover?e=1702652400&v=beta&t=nzGm-p53wAul83XoAwOtcWDary43ogNi5rEuMO3BAtk
                          height: 67
                        - width: 200
                          fileIdentifyingUrlPathSegment: >-
                            200/0/1634059306018/uape_all_around_super_cool_company_page_cover?e=1702652400&v=beta&t=S6ovz2xgLSOO3MlVnF6akRr4PJ-2vGP2xUnTOVkZVGk
                          height: 33
                    name:
                      localized:
                        en_US: UAPe All Around Super Cool Company Page
                      preferredLocale:
                        country: US
                        language: en
                    logo:
                      digitalmediaAsset:
                        downloadUrl: >-
                          https://media.licdn.com/dms/image/C4E0BAQE7DrWA8fOzwA/company-logo_400_400/0/1634059344168/uape_all_around_super_cool_company_page_logo?e=1710374400&v=beta&t=tnOkvYpQDjPUkYXyhW84YhceFnHEzJ_5pz-I3ZsCHeY
                        downloadUrlExpiresAt: 1710374400000
                        status: AVAILABLE
                      artifacts:
                        - width: 200
                          fileIdentifyingUrlPathSegment: >-
                            200_200/0/1634059344168/uape_all_around_super_cool_company_page_logo?e=1710374400&v=beta&t=TBv0kIyhTLkChmexIwB5clY-ym_h-11_9XfUenVbvyo
                          height: 200
                        - width: 100
                          fileIdentifyingUrlPathSegment: >-
                            100_100/0/1634059344168/uape_all_around_super_cool_company_page_logo?e=1710374400&v=beta&t=fTjMrOUjtx507hRXn795H0zbujUR8D8GQxD_kE9jSJI
                          height: 100
                        - width: 400
                          fileIdentifyingUrlPathSegment: >-
                            400_400/0/1634059344168/uape_all_around_super_cool_company_page_logo?e=1710374400&v=beta&t=tnOkvYpQDjPUkYXyhW84YhceFnHEzJ_5pz-I3ZsCHeY
                          height: 400
                    pageUrl: >-
                      https://www.linkedin.com/company/uape-all-around-super-cool-company-page/
                    lastModified:
                      time: 1679986938986
                    pageProfileEntity:
                      company: urn:li:organization:10002683
                    localizedDescription: |-
                      Extra Cool Sporting & Goods©™  😀
                      № 100
                statuses: {}
                errors: {}
  /rest/dmaOrganizationalPageProfiles/urn:li:organizationalPage:10002683:
    get:
      tags:
        - Pages > OrganizationalPageProfiles
      summary: dmaOrganizationalPageProfiles GET
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: locale
          in: query
          schema:
            type: string
          example: (language:us,country:EN)
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
                example: Wed, 20 Dec 2023 05:09:40 GMT
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lor1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAYM6f18Y3ru9EJcqetgSw==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB84:s=O:r=O:a=O:p=O:g=3142:u=950:x=1:i=1703048979:t=1703116816:v=2:sig=AQFNsiBrMb0OVxUnj5SyLSNWbwLkcyKI"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB84:s=O:r=O:a=O:p=O:g=3142:u=950:x=1:i=1703048979:t=1703116816:v=2:sig=AQFNsiBrMb0OVxUnj5SyLSNWbwLkcyKI"
          content:
            application/json:
              schema:
                type: object
              example:
                vanityName: uape-all-around-super-cool-company-page
                localizedName: UAPe All Around Super Cool Company Page
                created:
                  time: 1679986938986
                description:
                  localized:
                    fr_FR: wee
                    en_US: |-
                      Extra Cool Sporting & Goods©™  😀
                      № 100
                  preferredLocale:
                    country: US
                    language: en
                primaryPageEntity:
                  organization: urn:li:organization:10002683
                entityUrn: urn:li:organizationalPage:10002683
                coverImageCropMetadata:
                  x: 0
                  width: 1128
                  'y': 0
                  height: 191
                coverImage:
                  digitalmediaAsset:
                    downloadUrl: >-
                      https://media.licdn.com/dms/image/C4E1BAQEwo0lzRTgwqg/company-background_10000/0/1634059306018/uape_all_around_super_cool_company_page_cover?e=1703656800&v=beta&t=XvScrv_LOsrHNBlRc7OK9H6xDXOPyAMXf0bE1Htb794
                    downloadUrlExpiresAt: 1703656800000
                    status: AVAILABLE
                  artifacts:
                    - width: 1128
                      fileIdentifyingUrlPathSegment: >-
                        10000/0/1634059306018/uape_all_around_super_cool_company_page_cover?e=1703656800&v=beta&t=XvScrv_LOsrHNBlRc7OK9H6xDXOPyAMXf0bE1Htb794
                      height: 191
                    - width: 400
                      fileIdentifyingUrlPathSegment: >-
                        400/0/1634059306018/uape_all_around_super_cool_company_page_cover?e=1703656800&v=beta&t=iLYeIshU9aX8xXCvpmS5hsiIypXhUBe7B6gkM57hkJg
                      height: 67
                    - width: 200
                      fileIdentifyingUrlPathSegment: >-
                        200/0/1634059306018/uape_all_around_super_cool_company_page_cover?e=1703656800&v=beta&t=lxCTSg1DXbbnvEHB4vtoLsQxRdifvZQyLupWZbfucG4
                      height: 33
                name:
                  localized:
                    en_US: UAPe All Around Super Cool Company Page
                  preferredLocale:
                    country: US
                    language: en
                logo:
                  digitalmediaAsset:
                    downloadUrl: >-
                      https://media.licdn.com/dms/image/C4E0BAQE7DrWA8fOzwA/company-logo_400_400/0/1634059344168/uape_all_around_super_cool_company_page_logo?e=1710979200&v=beta&t=8KvbNIPM9aiddzZBrlC49u1PPpcRLVXVVEe4tv0izkY
                    downloadUrlExpiresAt: 1710979200000
                    status: AVAILABLE
                  artifacts:
                    - width: 200
                      fileIdentifyingUrlPathSegment: >-
                        200_200/0/1634059344168/uape_all_around_super_cool_company_page_logo?e=1710979200&v=beta&t=LY57N695NODz5WbBKIhKJXFFKpuLss3USyHA5-kMATU
                      height: 200
                    - width: 100
                      fileIdentifyingUrlPathSegment: >-
                        100_100/0/1634059344168/uape_all_around_super_cool_company_page_logo?e=1710979200&v=beta&t=w7HbUrW1OUNkAaEmUtLD5i0aOg7G0LAs63lUxPaFY5E
                      height: 100
                    - width: 400
                      fileIdentifyingUrlPathSegment: >-
                        400_400/0/1634059344168/uape_all_around_super_cool_company_page_logo?e=1710979200&v=beta&t=8KvbNIPM9aiddzZBrlC49u1PPpcRLVXVVEe4tv0izkY
                      height: 400
                pageUrl: >-
                  https://www.linkedin.com/company/uape-all-around-super-cool-company-page/
                lastModified:
                  time: 1679986938986
                pageProfileEntity:
                  company: urn:li:organization:10002683
                localizedDescription: |-
                  Extra Cool Sporting & Goods©™  😀
                  № 100
  /rest/dmaPageMessagingMessages:
    get:
      tags:
        - Pages > PageMessagingMessages
      summary: Messaging Messages GET
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: organizationalPage
          in: query
          schema:
            type: string
          description: DevTestCo
          example: urn%3Ali%3AorganizationalPage%3A2414183
        - name: q
          in: query
          schema:
            type: string
          example: thread
        - name: sort
          in: query
          schema:
            type: string
          example: DESCENDING
        - name: thread
          in: query
          schema:
            type: string
          example: >-
            urn%3Ali%3AmessagingThread%3A2-NmI1NmY2YTYtYWQ1OC00MzgyLWI2OGQtZmNmZmNiZGZkZTc0XzAxMg==
        - name: start
          in: query
          schema:
            type: integer
          example: '0'
        - name: count
          in: query
          schema:
            type: integer
          example: '5'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            x-restli-protocol-version:
              schema:
                type: string
                example: 2.0.0
            Date:
              schema:
                type: string
[...]
