openapi: 3.1.0
info:
  title: LinkedIn Compliance Events Access Control Application Retrieval API
  description: LinkedIn provides Compliance API Guides for monitoring, archiving, and management of communications for enterprises in regulated industries. The Compliance Events API allows applications to archive all LinkedIn activities from the past 30 days of a regulated, authenticated member.
  version: 1.0.0
  contact:
    name: LinkedIn API Support
    url: https://docs.microsoft.com/en-us/linkedin/compliance/
servers:
- url: https://api.linkedin.com
  description: LinkedIn Production API Server
security:
- OAuth2Auth:
  - r_compliance
tags:
- name: Application Retrieval
  description: APIs for retrieving child application details
paths:
  /v2/provisionedApplications:
    get:
      operationId: getChildApplication
      tags:
      - Application Retrieval
      summary: LinkedIn Get Child Application
      description: 'Retrieves the credentials and details of a child application for a mutual customer using the partner''s unique foreign identifier.

        For more information, refer to the [Get Application documentation](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/provisioning-api#get-application).'
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - $ref: '#/components/parameters/QueryTypeParameter'
      - $ref: '#/components/parameters/UniqueForeignIdParameter'
      responses:
        '200':
          description: Successfully retrieved application details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApplicationResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/GetApplicationResponseExample'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ApplicationCredentials:
      type: object
      properties:
        applicationUrn:
          type: string
          description: URN of the application
          example: urn:li:developerApplication:12345678
        clientId:
          type: string
          description: OAuth 2.0 client ID
          example: 78abc123def456
        clientSecret:
          type: string
          description: OAuth 2.0 client secret
          example: secretXYZ789
        uniqueForeignId:
          type: string
          description: Partner's unique identifier
          example: acme-corp-12345
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Error message
          example: Invalid request parameters
        serviceErrorCode:
          type: integer
          description: LinkedIn service-specific error code
          example: 100
    GetApplicationResponse:
      type: object
      description: Response containing application credentials and details
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationCredentials'
  examples:
    GetApplicationResponseExample:
      summary: Example response for retrieving application credentials
      value:
        elements:
        - applicationUrn: urn:li:developerApplication:12345678
          clientId: 78abc123def456
          clientSecret: secretXYZ789
          uniqueForeignId: acme-corp-12345
  parameters:
    QueryTypeParameter:
      name: q
      in: query
      required: true
      description: Query type for retrieving applications
      schema:
        type: string
        enum:
        - credentialsByUniqueForeignId
      example: credentialsByUniqueForeignId
    UniqueForeignIdParameter:
      name: uniqueForeignId
      in: query
      required: true
      description: Partner's unique identifier for the customer
      schema:
        type: string
      example: acme-corp-12345
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.linkedin.com/oauth/v2/authorization
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            r_compliance: Read compliance data
