openapi: 3.2.0
info:
  title: LinkedIn Pages Data Portability Page Analytics API
  description: 'The LinkedIn Pages Data Portability API provides access to organization data for regulatory compliance with the Digital Markets Act (DMA). This API enables data portability for:

    - Organization profiles and settings - Organization ACLs and authorization - Page content analytics - Feed posts, reactions, and comments - Lead generation data - Talent attraction data - Events and live video - Creator analytics

    For comprehensive documentation, visit the [DMA Documentation](https://learn.microsoft.com/en-us/linkedin/dma/).'
  version: 1.0.0
  contact:
    name: LinkedIn API Support
    url: https://learn.microsoft.com/en-us/linkedin/
servers:
- url: https://api.linkedin.com
  description: LinkedIn Production API Server
security:
- BearerAuth: []
tags:
- name: Page Analytics
  description: Organizational page content and edge analytics
paths:
  /rest/dmaOrganizationalPageContentAnalytics:
    get:
      operationId: getPageContentAnalytics
      tags:
      - Page Analytics
      summary: LinkedIn Get Page Content Analytics
      description: Retrieves content analytics data for organizational pages including impressions, clicks, engagement rates, and social interactions.
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - $ref: '#/components/parameters/LinkedInVersionHeader'
      - $ref: '#/components/parameters/RestliProtocolVersionHeader'
      - $ref: '#/components/parameters/QueryTypeParameter'
      - name: organizationUrn
        in: query
        required: true
        schema:
          type: string
        example: urn:li:organization:10002687
      - $ref: '#/components/parameters/StartParameter'
      - $ref: '#/components/parameters/CountParameter'
      responses:
        '200':
          description: Successfully retrieved page analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/AnalyticsResponseExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Paging:
      type: object
      properties:
        start:
          type: integer
          example: 0
        count:
          type: integer
          example: 25
        total:
          type: integer
          example: 100
        links:
          type: array
          items:
            type: object
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        serviceErrorCode:
          type: integer
          example: 100
    AnalyticsRecord:
      type: object
      properties:
        dateRange:
          type: object
          properties:
            start:
              $ref: '#/components/schemas/DateInfo'
            end:
              $ref: '#/components/schemas/DateInfo'
        impressionCount:
          type: integer
          example: 15000
        clickCount:
          type: integer
          example: 500
        likeCount:
          type: integer
          example: 250
        commentCount:
          type: integer
          example: 45
        shareCount:
          type: integer
          example: 30
        engagementRate:
          type: number
          format: double
          example: 0.055
    DateInfo:
      type: object
      properties:
        year:
          type: integer
          example: 2001
        month:
          type: integer
          example: 1
        day:
          type: integer
          example: 15
    AnalyticsResponse:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsRecord'
        paging:
          $ref: '#/components/schemas/Paging'
  parameters:
    StartParameter:
      name: start
      in: query
      required: false
      description: Pagination start index
      schema:
        type: integer
      example: 0
    LinkedInVersionHeader:
      name: LinkedIn-Version
      in: header
      required: true
      description: LinkedIn API version in YYYYMM format
      schema:
        type: string
      example: '202312'
    CountParameter:
      name: count
      in: query
      required: false
      description: Number of results to return
      schema:
        type: integer
      example: 25
    QueryTypeParameter:
      name: q
      in: query
      required: true
      description: Query type for finder operations
      schema:
        type: string
      example: roleAssignee
    RestliProtocolVersionHeader:
      name: X-Restli-Protocol-Version
      in: header
      required: true
      description: Rest.li protocol version
      schema:
        type: string
      example: 2.0.0
  examples:
    AnalyticsResponseExample:
      summary: Analytics response
      value:
        elements:
        - dateRange:
            start:
              year: 2023
              month: 12
              day: 1
            end:
              year: 2023
              month: 12
              day: 31
          impressionCount: 15000
          clickCount: 500
          likeCount: 250
          commentCount: 45
          shareCount: 30
          engagementRate: 0.055
        paging:
          start: 0
          count: 25
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer Token for API access
