openapi: 3.2.0
info:
  title: LinkedIn Pages Data Portability Lead Generation API
  description: 'The LinkedIn Pages Data Portability API provides access to organization data for regulatory compliance with the Digital Markets Act (DMA). This API enables data portability for:

    - Organization profiles and settings - Organization ACLs and authorization - Page content analytics - Feed posts, reactions, and comments - Lead generation data - Talent attraction data - Events and live video - Creator analytics

    For comprehensive documentation, visit the [DMA Documentation](https://learn.microsoft.com/en-us/linkedin/dma/).'
  version: 1.0.0
  contact:
    name: LinkedIn API Support
    url: https://learn.microsoft.com/en-us/linkedin/
servers:
- url: https://api.linkedin.com
  description: LinkedIn Production API Server
security:
- BearerAuth: []
tags:
- name: Lead Generation
  description: Lead generation forms and responses
paths:
  /rest/dmaLeadGenResponses:
    get:
      operationId: getLeadGenResponses
      tags:
      - Lead Generation
      summary: LinkedIn Get Lead Generation Responses
      description: Retrieves lead generation form responses for data portability compliance. Returns submitted form data and timestamps.
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"dispatcherRules\": \"\"\n}\n"
        delay: 100
      parameters:
      - $ref: '#/components/parameters/LinkedInVersionHeader'
      - $ref: '#/components/parameters/RestliProtocolVersionHeader'
      - $ref: '#/components/parameters/QueryTypeParameter'
      - name: owner
        in: query
        required: true
        schema:
          type: string
        example: urn:li:organization:10002687
      - $ref: '#/components/parameters/StartParameter'
      - $ref: '#/components/parameters/CountParameter'
      responses:
        '200':
          description: Successfully retrieved lead gen responses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadGenResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Paging:
      type: object
      properties:
        start:
          type: integer
          example: 0
        count:
          type: integer
          example: 25
        total:
          type: integer
          example: 100
        links:
          type: array
          items:
            type: object
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        serviceErrorCode:
          type: integer
          example: 100
    LeadGenRecord:
      type: object
      properties:
        id:
          type: string
          example: urn:li:leadGenResponse:123456
        formId:
          type: string
          example: urn:li:leadGenForm:789012
        submittedAt:
          type: integer
          format: int64
          example: 1702693664000
        answers:
          type: array
          items:
            $ref: '#/components/schemas/LeadGenAnswer'
    LeadGenResponse:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/LeadGenRecord'
        paging:
          $ref: '#/components/schemas/Paging'
    LeadGenAnswer:
      type: object
      properties:
        questionId:
          type: string
          example: firstName
        answerValue:
          type: string
          example: John
  parameters:
    StartParameter:
      name: start
      in: query
      required: false
      description: Pagination start index
      schema:
        type: integer
      example: 0
    LinkedInVersionHeader:
      name: LinkedIn-Version
      in: header
      required: true
      description: LinkedIn API version in YYYYMM format
      schema:
        type: string
      example: '202312'
    CountParameter:
      name: count
      in: query
      required: false
      description: Number of results to return
      schema:
        type: integer
      example: 25
    QueryTypeParameter:
      name: q
      in: query
      required: true
      description: Query type for finder operations
      schema:
        type: string
      example: roleAssignee
    RestliProtocolVersionHeader:
      name: X-Restli-Protocol-Version
      in: header
      required: true
      description: Rest.li protocol version
      schema:
        type: string
      example: 2.0.0
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer Token for API access
